@import "../environments/mixins.scss";
@import "../environments/flexiblegs-scss";

// ******default*******
$default-text-color: #333333 !default;
$default-background: #FFFFFF !default;
$default-border-color: #777777 !default;
$default-icon-color: #777777 !default;
$default-placeholder-color: #AAAAAA !default;
// default hover
$default-hover-border-color: #777777 !default;
$default-hover-background: #FFFFFFF !default;
$default-hover-text-color: #333333 !default;
$default-hover-icon-color: #777777 !default;
$default-hover-placeholder-color: #AAAAAA !default;
//default focus
$default-focus-border-color: #3399CC !default;
$default-focus-text-color: #333333 !default;
$default-focus-background: #FFFFFF !default;
$default-focus-icon-color: #777777 !default;
$default-focus-placeholder-color: #AAAAAA !default;

// *******warning*******
$warning-text-color: #E65C5C !default;
$warning-background: #ffffff !default;
$warning-border-color: #E65C5C !default;
$warning-placeholder-color: #E65C5C !default;
$warning-icon-color: #777777 !default;
// warning hover
$warning-hover-border-color: #777777 !default;
$warning-hover-background: #FFFFFFF !default;
$warning-hover-text-color: #333333 !default;
$warning-hover-placeholder-color: #AAAAAA !default;
$warning-hover-icon-color: #777777 !default;
// warning focus
$warning-focus-border-color: #3399CC !default;
$warning-focus-text-color: #333333 !default;
$warning-focus-background: #FFFFFF !default;
$warning-focus-icon-color: #777777 !default;
$warning-focus-placeholder-color: #AAAAAA !default;

// *******attention*******
$attention-text-color: #FF9830 !default;
$attention-background: #ffffff !default;
$attention-border-color: #FF9830 !default;
$attention-placeholder-color: #FF9830 !default;
$attention-icon-color: #777777 !default;
// attention hover
$attention-hover-border-color: #777777 !default;
$attention-hover-background: #FFFFFFF !default;
$attention-hover-text-color: #333333 !default;
$attention-hover-placeholder-color: #AAAAAA !default;
$attention-hover-icon-color: #777777 !default;
// attention focus
$attention-focus-border-color: #3399CC !default;
$attention-focus-text-color: #333333 !default;
$attention-focus-background: #FFFFFF !default;
$attention-focus-placeholder-color: #AAAAAA !default;
$attention-focus-icon-color: #777777 !default;

// disabled
$disabled-text-color: #AAAAAA !default;
$disabled-border-color: #AAAAAA !default;
$disabled-background: #E5E5E5 !default;

//dropdown item hover
$item-hover-text-color: #FFFFFF !default;
$item-hover-background: #3399CC !default;

//warning placeholder
$warning-placeholder-color: #E65C5C !default;

// Миксин цветов состояний текстового поля
// (default, hover, focus, disable)
@mixin sc-typeahead(
  $text-color,
  $icon-color,
  $border-color,
  $placeholder-color,

  $text-color-hover,
  $icon-color-hover,
  $border-color-hover,
  $placeholder-color-hover,

  $text-color-focus,
  $icon-color-focus,
  $border-color-focus,
  $placeholder-color-focus
) {

  &, &.focus {
    box-shadow: inset 0 0 0 2px rgba($border-color, 1);
    border-color: $border-color;
    color: $text-color;
    fill:  $text-color;

    .sc-typeahead__input {
      color: $text-color;
    }
    ::-webkit-input-placeholder {color:$placeholder-color;}
    ::-moz-placeholder          {color:$placeholder-color;}/* Firefox 19+ */
    :-ms-input-placeholder      {color:$placeholder-color;}
  }

  &:hover {
    box-shadow: inset 0 0 0 2px rgba($border-color-hover, 1);
    fill:  $text-color-hover;
    .sc-typeahead__input {
      color: $text-color-hover;
    }
    ::-webkit-input-placeholder {color:$placeholder-color-hover;}
    ::-moz-placeholder          {color:$placeholder-color-hover;}/* Firefox 19+ */
    :-ms-input-placeholder      {color:$placeholder-color-hover;}
  }

  &.focus {
    box-shadow: inset 0 0 0 2px rgba($border-color-focus, 1);
    fill: $text-color-focus;

    .sc-typeahead__input {
      color: $text-color-focus;
    }
    ::-webkit-input-placeholder {color:$placeholder-color-focus;}
    ::-moz-placeholder          {color:$placeholder-color-focus;}/* Firefox 19+ */
    :-ms-input-placeholder      {color:$placeholder-color-focus;}
  }

  & > .sc-typeahead__input:only-child {
    padding: 16px;
  }

  & > .sc-typeahead__input:first-child {
    padding-left: 16px;
  }

  & > .sc-typeahead__input:last-child {
    padding-right: 16px;
  }
}

.sc-typeahead {
  position: relative;
  @include wrap("table");
  @include wrap("middle");
  @include wrap("left");
  table-layout: auto;
  @include sc-typeahead(
      $default-text-color,
      $default-icon-color,
      $default-border-color,
      $default-placeholder-color,

      $default-hover-text-color,
      $default-hover-icon-color,
      $default-hover-border-color,
      $default-hover-placeholder-color,

      $default-focus-text-color,
      $default-focus-icon-color,
      $default-focus-border-color,
      $default-focus-placeholder-color
  );
  box-sizing: border-box;
  font-size: 13px;
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  background-color: #fff;

  & > * {
    @include col;
  }
  &__icon {
    text-align: center;
    font-size: 0;
    width: 40px;
    position: absolute;
    height: 100%;
    padding-top: 12px;
  }
  &__clear {
    width: 40px;
    font-size: 0;
    line-height: 0;
    text-align: center;

    button {
      background: none;
      border: 0;
      padding: 0;
      margin: 0;
      width: 16px;
      height: 16px;
      outline: none;
      cursor: pointer;
      fill: #777;

      &:hover, &:focus {
        fill: #777777;
      }
    }
  }

  &_attention {
    @include sc-typeahead(
        $attention-text-color,
        $attention-icon-color,
        $attention-border-color,
        $attention-placeholder-color,

        $attention-hover-text-color,
        $attention-hover-icon-color,
        $attention-hover-border-color,
        $attention-hover-placeholder-color,

        $attention-focus-text-color,
        $attention-focus-icon-color,
        $attention-focus-border-color,
        $attention-focus-placeholder-color
    );
  }

  &_warning {
    @include sc-typeahead(
        $warning-text-color,
        $warning-icon-color,
        $warning-border-color,
        $warning-placeholder-color,

        $warning-hover-text-color,
        $warning-hover-icon-color,
        $warning-hover-border-color,
        $warning-hover-placeholder-color,

        $warning-focus-text-color,
        $warning-focus-icon-color,
        $warning-focus-border-color,
        $warning-focus-placeholder-color
    );
  }

  &.disabled ,
  &[disabled]:hover {
    fill: #aaa;
    box-shadow: inset 0 0 0 2px rgba(#aaa, 1);
    background-color: #e5e5e5;
    color: #aaa;
    .sc-typeahead__input {
      color: #aaa;
    }
    ::-webkit-input-placeholder {color:#aaa;}
    ::-moz-placeholder          {color:#aaa;}/* Firefox 19+ */
    :-ms-input-placeholder      {color:#aaa;}
  }

  &__hint {
    top: 40px;
    left: 0;
    box-sizing: border-box;
    background-color: $default-background;
    border: solid 2px $default-border-color;
    border-top: none;
    color: $default-text-color;
    padding: 6px 16px;
    position: absolute;
    transition: color .3s, border .3s;
    width: 100%;
    height: 40px;
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    z-index: 2;
  }
}

.sc-typeahead__input {
  position: relative;
  padding-left:36px;
  @include dots;
  box-sizing: border-box;
  background: transparent;
  border: 0;
  box-shadow: none;
  font-size: 14px;
  font-weight: 600;
  height: 40px;
  width: 100%;
  outline: none;
}

.dropdown-menu {
  box-sizing: border-box;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  display: none;
  float: left;
  text-align: left;
  list-style: none;
  background-color: $default-background;
  border: 2px solid $default-border-color;
  width: 100%;
  border-top: none;
  overflow-y: auto;
  border-radius: 0;
  margin: 0;
  padding: 0;
  font-size: 14px;
/*  visibility: hidden;*/
}

.dropdown-item {
  box-shadow: inset 0 -1px 0 0 rgba(204,204,204,0.5);
  display: flex;
  width: 100%;
  clear: both;
  color: $default-text-color;
  text-align: inherit;
  white-space: nowrap;
  line-height: 30px;
  padding: 6px 16px;
  background: 0 0;
  border: 0;
  font-weight: 600;
  box-sizing: border-box;
  height: 40px;
  &:hover {
    color: $item-hover-text-color;
    background-color: $item-hover-background;
    box-shadow: inset 0 -1px 0 0 #287AA3;
  }
  &.active {
    color: $item-hover-text-color;
    background-color: $item-hover-background;
    box-shadow: inset 0 -1px 0 0 #287AA3;
  }
}

.dropdown-item.active {
  .sc-typeahead-highlight {
    border-bottom: 2px solid #FFFFFF;
  }
}

.sc-typeahead-highlight {
  border-bottom: 2px solid #3399CC;
}

.sc-typeahead-element {
  &__char {
    @include dots;
  }
  display: inline-flex;
  width: 50%;
}

.sc-typeahead-icon {
  position: absolute;
  top: 0;
  right: 0;
  &_button {
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
    width: 16px;
    height: 16px;
    outline: none;
    cursor: pointer;
    fill: #777;
  }
}

.sc-typahead-element-container {
  display: flex;
  width: 100%;
}
