[page-header] {
    background: rgba(#cfc, .5);
    height: 100%;
    font-size: 16px;
}

[page-footer] {
    background: rgba(#ccf, .5);
    height: 100%;
    font-size: 16px;
}

[help-card] {
    background: rgba(#ffc, .5);
    height: 100%;
    font-size: 16px;
}

.jobCard {
    background: rgba(#fcf, .5);
    height: 100%;
    font-size: 16px;
}