
.tomorrow-btn {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 40px;
    box-shadow: inset -2px 0 0 0 #777777,inset 0 -2px 0 0 #777777,inset 2px 0 0 0 #777777;
    color: #333;
    font-size: 16px;
    font-weight: 600;
}

button {
    border: 0;   
}

table {
    border-collapse:collapse;
    width: 288px;
    // background: #333;
     border: 2px solid #777;
     border-collapse: collapse;
     color: #333;
     background-color: #333;
     

    thead {
        font-size: 16px;
        text-transform: lowercase;

        background-color: #fff;
        
        tr:first-child {
        background: #777;
       
        th .btn {
            text-transform: capitalize;
        }

        // background:  #fff;
       
        th {
            height: 30px;
            button {
                background: transparent;
                height: 30px;
                box-shadow: none; 
                color: #fff;
            }
        }
        
    // font-size: 0;
    }
    }

    td {      
        padding: 1px 0 0 1px;

        &:first-child {
            padding-left: 0; 
        }
    }

    th {
    
        width: 40px;
        height: 40px;
        font-size: 16px;
        
    }

    .btn {       
        box-sizing: border-box;
        display: block;
        border: 0;      
        min-height: 40px;      
        color: inherit;
        padding: 0;
        margin: 0;
        border: 0;
        background: #fff;     
        font-weight: 600;
        position: relative;
        
        span {
         font-size: 16px;
         line-height: 40px;
        }
       &.testCLS {
            background:blue;
        }



        &.dayOf {
            color: red;
        }

        &.disabled {
            color: rgba(#333, .3)
        }

       .text-info {
            &:after {
                content: "";
                position: absolute;
                bottom: 4px;
                left: 50%;
                margin-left: -4px; 
                width: 0; 
                height: 0; 
                border-left: 4px solid transparent;
                border-right: 4px solid transparent; border-bottom: 4px solid black;
            }
        }

        &.active {
          color : #297CA6;
           
           &:before {
               position: absolute;
               top: 2px;
               bottom: 2px;
               left: 2px;
               right: 2px;
               border: 2px solid #297CA6;
               content: "";
               display: block;
               
           }
        }
    }

    tr {
        td, th {
             color: #333;
        }
    }
}

.glyphicon-chevron-right,
.glyphicon-chevron-left {
    width: 40px;
    height: 100%;
     display: block;
}

.glyphicon-chevron-right {
    // width: 6px;
    // height: 10px;
    background: red;
   
    
}

.glyphicon-chevron-left {
    //  width: 6px;
    // height: 10px;
    background: red;
    // display: block;
}

