<ul class="sc-menu" (click)="isActiveMenuItem()">
	<li *ngFor="let item of items"
		[ngClass]="{'sc-menu__item_state_disabled': item.disabled}"

		class="sc-menu__item">
		<a (click)="item.action()"
		   *ngIf="item.isAvailable"
		   [ngClass]="{'sc-menu__link_state_current': item.isActive}"
		   class="sc-menu__link"
		   [href]="item.url">
			{{item.name}}
      <sc-teaser *ngIf="item.teaser" [teaser]="item.teaser"></sc-teaser>
		</a>
		<sc-menu-item [item]="item"></sc-menu-item>
	</li>
</ul>
