<ul class="sc-menu-item">
	<li *ngFor="let child of item.menuItems"
		[ngClass]="{'sc-menu-item__body_state_disabled': child.disabled}"
		class="sc-menu-item__body">
		<a (click)="child.action()"
		   class="sc-menu-item__link"
		   [ngClass]="{'sc-menu-item__link_state_current': child.isActive, 'pr_grid_1' : child.menuItems}"
		   [href]="child.url">
			<span class="sc-menu-item__link_text">{{child.name}}</span>
      <sc-teaser *ngIf="child.teaser" [teaser]="child.teaser"></sc-teaser>
		</a>
		<sc-menu-item [item]="child"></sc-menu-item>
	</li>
</ul>






