<label
  class="sc-radio"
  [ngClass]="{
    'sc-radio_disabled': disabled,
    'sc-radio_warning': mod === Mod.warning,
    'sc-radio_attention': mod === Mod.attention,
    'sc-radio_on-dark': mod == Mod.onDark,
    'sc-radio_on-dark-warning': mod == Mod.onDarkWarning,
    'sc-radio_on-dark-attention': mod == Mod.onDarkAttention
  }">
  <input
    type="radio"
    [checked]="value === model"
    [disabled]="disabled"
    (change)="changeModel($event)"
    [value]="value"
    [name]="name"
    (scChange)="onScChange()"
  />
  <span
    class="sc-radio__dot"
    [ngClass]="{
      'sc-radio__dot_checked': value === model
    }">
    </span>
  <span
    *ngIf="label"
    class="sc-radio__label">
    {{label}}
  </span>
</label>
