// default
$default-text-color: #333333 !default;
$default-background: #ffffff !default;
$default-border-color: #777777 !default;
// default active
$default-active-border-color: #269999 !default;
$default-active-text-color: #269999 !default;

// warning
$warning-text-color: #E65C5C !default;
$warning-background: #ffffff !default;
$warning-border-color: #E65C5C !default;
// warning active
$warning-active-background: #E65C5C !default;
// attention
$attention-text-color: #FF9830 !default;
$attention-background: #ffffff !default;
$attention-border-color: #FF9830 !default;
// attention active
$attention-active-background: #FF9830 !default;

.radio {
  color: #666;
  float: left;
  margin: 0 16px 0 0;
  min-height: inherit;
  position: relative;

  input[type=radio] {
    left: 0;
    margin: 0;
    opacity: 0;
    position: absolute;
  }

  &__label {
    color: $default-text-color;
    float: left;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    overflow: hidden;
    text-align: left;
    transition: color .3s;
    -moz-user-select: none;
    user-select: none;
    &_attention {
      color: $attention-text-color;
    }
    &_warning {
      color: $warning-text-color;
    }
  }

  &_disabled {
    opacity: 0.5;
  }
}

.check {
  background-color: $default-background;
  border-radius: 50%;
  border: 2px solid $default-border-color;
  float: left;
  height: 16px;
  margin-right: 8px;
  position: relative;
  transition: border .3s;
  width: 16px;
  &_checked {
    border: 2px solid $default-active-border-color;
    &:before {
      background: $default-active-border-color;
      border-radius: 50%;
      content: '';
      display: inline-block;
      height: 8px;
      left: 50%;
      margin-left: -4px;
      margin-top: -4px;
      position: absolute;
      top: 50%;
      width: 8px;
    }
  }
  &_attention {
    border: 2px solid $attention-border-color;
    &:before {
      background: $attention-active-background;
    }
  }
  &_warning {
    border: 2px solid $warning-border-color;
    &:before {
      background: $warning-active-background;
    }
  }
}

.sc-svg-icon {
  display: none;
  &_check {
    display: block;
  }
}
