// Clearfix
@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin no-wrap {
	white-space: nowrap;
}

@mixin no-select {
	user-select: none;
}

@mixin dots {
	overflow: hidden;
	text-overflow: ellipsis;
	@include no-wrap();
}
