/* You can add global styles to this file, and also import other style files */
/* grayscale palette (start) */
$gray-f: #ffffff;					// palette
$gray-fa: #fafafa;					// palette
$gray-f4: #f4f4f4;					// palette

$gray-1: #111111;					// unused
$gray-2: #222222;					// unused -> $gray-3
$gray-3: #333333;					// palette
$gray-4: #444444;					// palette
$gray-5: #555555;					// unused -> $gray-6
$gray-6: #666666;					// palette
$gray-7: #777777;					// unused -> $gray-8
$gray-8: #888888;					// palette
$gray-9: #999999;					// unused -> $gray-a
$gray-a: #aaaaaa;					// palette
$gray-b: #bbbbbb;					// palette
$gray-c: #cccccc;					// palette
$gray-d: #dddddd;					// palette
$gray-e: #eeeeee;					// palette

$gray-0: #000000;					// palette
/* grayscale palette (end) */

/* base color palette (start) */
$color-basic-50-15: #132626; 		// hsb($base-hue, 50, 15)
$color-basic-50-20: #1a3333; 		// hsb($base-hue, 50, 20)
$color-basic-50-25: #204040; 		// hsb($base-hue, 50, 25)
$color-basic-50-35: #2d5959; 		// hsb($base-hue, 50, 35)
$color-basic-75-40: #196666; 		// hsb($base-hue, 75, 40)
$color-basic-50-50: #408080; 		// hsb($base-hue, 50, 50)
$color-basic-75-50: #208080; 		// hsb($base-hue, 75, 50)
$color-basic-75-60: #269999; 		// hsb($base-hue, 75, 60)
$color-basic-75-70: #2db3b3; 		// hsb($base-hue, 75, 70)
$color-basic-20-80: #a3cccc; 		// hsb($base-hue, 20, 80)
$color-basic-15-90: #c3e5e5; 		// hsb($base-hue, 15, 90)
$color-basic-05-95: #e6f2f2; 		// hsb($base-hue, 05, 95)
$color-basic-25-20: #608080; 		// hsb($base-hue, 25, 20)
/* base color palette (end) */

/* danger color palette (start) */
$color-danger-10-95: #F2DADA;		// hsb(0, 10, 95)
$color-danger-60-100: #FF6666;		// hsb(0, 60, 100)
$color-danger-60-90: #e65c5c;		// hsb(0, 60, 90)
$color-danger-60-75: #BF4D4D;		// hsb(0, 60, 75)
$color-danger-60-60: #993D3D;		// hsb(0, 60, 60)
/* danger color palette (end) */

/* warning color palette (start) */
$color-warning-40-100: #ffaa00;		// hsb(40, 100, 100)
$color-warning-90-100: #ff8c19;		// hsb(30, 90, 100)
$color-warning-80-90: #E68A2E;		// hsb(30, 80, 90)
$color-warning-90-80: #cc7014;		// hsb(30, 90, 80)
/* warning color palette (end) */

/* success color palette (start) */
$color-success-15-95: #CEF2D4;		// hsb(130, 15, 95)
$color-success-40-80: #7ACC88;		// hsb(130, 40, 80)
$color-success-50-65: #53A661;		// hsb(130, 50, 65)
$color-success-50-55: #468C52;		// hsb(130, 50, 55)
/* success color palette (end) */

/* info color palette (start) */
$color-info-100-100: #fffbe5;		// hsb(50, 100, 100)
$color-info-10-90: #e6e2cf;			// hsb(50, 10, 90)
$color-info-20-80: #ccc5a3;			// hsb(50, 20, 80)
$color-info-30-60: #99916b;			// hsb(50, 30, 60)
/* info color palette (end) */

/* activity color palette (start) */
$color-activity-25-95: #B6DEF2;		// hsb(200, 25, 95)
$color-activity-75-80: #3399cc;		// hsb(200, 75, 80)
$color-activity-75-65: #297ca6;		// hsb(200, 75, 65)
$color-activity-75-50: #206080;		// hsb(200, 75, 50)
/* activity color palette (end) */

$grid: 32px;
$grid-medium: 24px;
$grid-half: 16px;
$grid-small: 8px;