@import "../environments/mixins.scss";
@import "../environments/flexiblegs-scss";

// Миксин цветов состояний текстового поля
// (default, hover, focus, disable)
@mixin text-field(
    $text-color,
    $icon-color,
    $border-color,
    $placeholder-color,

    $text-color-hover,
    $icon-color-hover,
    $border-color-hover,
    $placeholder-color-hover,

    $text-color-focus,
    $icon-color-focus,
    $border-color-focus,
    $placeholder-color-focus
) {

  &, &.focus {
      box-shadow: inset 0 0 0 2px rgba($border-color, 1);
      border-color: $border-color;
      color: $text-color;
      fill:  $text-color;

      .sc-text-field__input {
          color: $text-color;
          ::-webkit-input-placeholder {color:$placeholder-color;}
          ::-moz-placeholder          {color:$placeholder-color;}/* Firefox 19+ */
          :-ms-input-placeholder      {color:$placeholder-color;}
      }
  }

  &:hover {
      box-shadow: inset 0 0 0 2px rgba($border-color-hover, 1);
      fill:  $text-color-hover;
      .sc-text-field__input {
          color: $text-color-hover;
          ::-webkit-input-placeholder {color:$placeholder-color-hover;}
          ::-moz-placeholder          {color:$placeholder-color-hover;}/* Firefox 19+ */
          :-ms-input-placeholder      {color:$placeholder-color-hover;}
      }
  }

  &.focus {
      box-shadow: inset 0 0 0 2px rgba($border-color-focus, 1);
      fill: $text-color-focus;

      .sc-text-field__input {
          color: $text-color-focus;
          ::-webkit-input-placeholder {color:$placeholder-color-focus;}
          ::-moz-placeholder          {color:$placeholder-color-focus;}/* Firefox 19+ */
          :-ms-input-placeholder      {color:$placeholder-color-focus;}             
      }
  }

  & > .sc-text-field__input:only-child {
      padding: 16px;
  }

  & > .sc-text-field__input:first-child {
      padding-left: 16px;
  }

  & > .sc-text-field__input:last-child {
      padding-right: 16px;
  }
}

/* Базовый стиль (start) */
  $default-text-field-text-color: #777;
  $default-text-field-icon-color: #777;
  $default-text-field-border-color: #777;
  $default-text-field-placeholder-color: #777;

  $default-text-field-text-color-hover: #777;
  $default-text-field-icon-color-hover: #777;
  $default-text-field-border-color-hover: #777;
  $default-text-field-placeholder-color-hover: #777;

  $default-text-field-text-color-focus: #333;
  $default-text-field-icon-color-focus: #333;
  $default-text-field-border-color-focus: #39c;
  $default-text-field-placeholder-color-focus: #333;


.sc-text-field {
     margin: 0;
     border: 0;
     padding: 0;

   .sc-text-field__inner {
       @include wrap;
       @include wrap("table");
       @include wrap("middle");
       @include wrap("left");
       @include text-field(
                          $default-text-field-text-color,
                          $default-text-field-icon-color,
                          $default-text-field-border-color,
                          $default-text-field-placeholder-color,

                          $default-text-field-text-color-hover,
                          $default-text-field-icon-color-hover,
                          $default-text-field-border-color-hover,
                          $default-text-field-placeholder-color-hover,

                          $default-text-field-text-color-focus,
                          $default-text-field-icon-color-focus,
                          $default-text-field-border-color-focus,
                          $default-text-field-placeholder-color-focus
                       );
       box-sizing: border-box;
       font-size: 13px;
       margin: 0;
       border: 0;
       padding: 0;
       width: 100%;
       background-color: #fff;


       & > * {
           @include col;
       }
   }

    .sc-text-field__icon {
      text-align: center;
      font-size: 0;
      width: 40px;
    }

   .sc-text-field__input {
       @include dots;
       box-sizing: border-box;
       background: transparent;
       border: 0;
       box-shadow: none;
       font-size: 14px;
       font-weight: 600;
       height: 40px;
       padding: 0;
       width: 100%;
       outline: none;
   }

   & > .icon {
       width: 40px;
       text-align: center;
   }

    &.disabled ,
    &[disabled]  {
        .sc-text-field__inner,
        .sc-text-field__inner:hover {
            fill: #aaa;
            box-shadow: inset 0 0 0 2px rgba(#aaa, 1);
            background-color: #e5e5e5;

            .sc-text-field__input {
              color: #aaa;
            }
        }
    }

    .sc-text-field__clear {
      width: 40px;
      font-size: 0;
      line-height: 0;
      text-align: center;

      button {
        background: none;
        border: 0;
        padding: 0;
        margin: 0;
        width: 16px;
        height: 16px;
        outline: none;
        cursor: pointer;
        fill: #777;

        &:hover, &:focus {
          fill: #E65C5C;
        }
      }
    }
}

/* Базовый стиль (end) */

/* Модификаторы (start) */

  // warning
  $warning-text-field-text-color: #E65C5C;
  $warning-text-field-icon-color: #E65C5C;
  $warning-text-field-border-color: #E65C5C;
  $warning-text-field-placeholder-color: #777;

  $warning-text-field-text-color-hover: #E65C5C;
  $warning-text-field-icon-color-hover: #E65C5C;
  $warning-text-field-border-color-hover: #E65C5C;
  $warning-text-field-placeholder-color-hover: #E65C5C;

  $warning-text-field-text-color-focus: #E65C5C;
  $warning-text-field-icon-color-focus: #E65C5C;
  $warning-text-field-border-color-focus: #E65C5C;
  $warning-text-field-placeholder-color-focus: #E65C5C;

.sc-text-field_type_warning {
    .sc-text-field__inner {
        @include text-field(
                      $warning-text-field-text-color,
                      $warning-text-field-icon-color,
                      $warning-text-field-border-color,
                      $warning-text-field-placeholder-color,

                      $warning-text-field-text-color-hover,
                      $warning-text-field-icon-color-hover,
                      $warning-text-field-border-color-hover,
                      $warning-text-field-placeholder-color-hover,

                      $warning-text-field-text-color-focus,
                      $warning-text-field-icon-color-focus,
                      $warning-text-field-border-color-focus,
                      $warning-text-field-placeholder-color-focus
    )}
}

  // attention
  $attantion-text-field-text-color: #FF9830;
  $attantion-text-field-icon-color: #FF9830;
  $attantion-text-field-border-color: #FF9830;
  $attantion-text-field-placeholder-color: #FF9830;

  $attantion-text-field-text-color-hover: #FF9830;
  $attantion-text-field-icon-color-hover: #FF9830;
  $attantion-text-field-border-color-hover: #FF9830;
  $attantion-text-field-placeholder-color-hover: #FF9830;

  $attantion-text-field-text-color-focus: #FF9830;
  $attantion-text-field-icon-color-focus: #FF9830;
  $attantion-text-field-border-color-focus: #FF9830;
  $attantion-text-field-placeholder-color-focus: #FF9830;

.sc-text-field_type_attention {
    .sc-text-field__inner {
        @include text-field(
                      $attantion-text-field-text-color,
                      $attantion-text-field-icon-color,
                      $attantion-text-field-border-color,
                      $attantion-text-field-placeholder-color,

                      $attantion-text-field-text-color-hover,
                      $attantion-text-field-icon-color-hover,
                      $attantion-text-field-border-color-hover,
                      $attantion-text-field-placeholder-color-hover,

                      $attantion-text-field-text-color-focus,
                      $attantion-text-field-icon-color-focus,
                      $attantion-text-field-border-color-focus,
                      $attantion-text-field-placeholder-color-focus
    )}
}
/* Модификаторы (end) */
