<div [ngClass]="tag.mod"
     class="sc-tag">
    <div *ngIf="tag.icon" class="sc-tag__icon">
      <sc-svg-icon
          [src]="tag.icon"></sc-svg-icon>
    </div>
    <div class="sc-tag__title">
      <span>
        {{tag.title}}
      </span>
    </div>
    <div>
      <button
            (click)="remove($event)"
            class="sc-tag__button">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12" height="12" viewBox="0 0 12 12" version="1.1">
          <title>
            icon ico-close
          </title>
          <desc>
            Created with Sketch.
          </desc>
          <defs>
            <polygon id="path-1" points="16 17.33 20.67 22 22 20.67 17.33 16 22 11.33 20.67 10 16 14.67 11.33 10 10 11.33 14.67 16 10 20.67 11.33 22"/>
          </defs>
          <g id="eui-2.13" stroke="none" stroke-width="1" fill-rule="evenodd">
            <g id="eui-2.13-icons" transform="translate(-274.000000, -266.000000)">
              <g id="eui-item/eui-icons" transform="translate(0.000000, 160.000000)">
                <g id="icon/icon-close" transform="translate(264.000000, 96.000000)">
                  <mask id="mask-2">
                    <use xlink:href="#path-1"/>
                  </mask>
                  <use id="icon-ico-close" xlink:href="#path-1"/>
                </g>
              </g>
            </g>
          </g>
        </svg>
      </button>
    </div>
</div>
