@import "../../environments/flexiblegs-scss";
@import "../../environments/mixins";

.sc-tag {
  @include wrap;
  @include wrap( 'middle');
  @include wrap('auto');
  @include wrap( 'gutter', 8);
  background-color: #aaa;
  white-space: nowrap;
  color: #fff;


  .sc-tag__title {
    @include col;
    font-weight: 600;
    line-height: 24px;

    span {
      display: block;
      width: calc(100%);
      @include dots();
    }
  }
}

.sc-tag__icon {
  @include col;

  svg {
    width: 16px;
    height: 16px;
    fill: #fff;
  }
}

.sc-tag__button,
.sc-tag__button:focus {
  border: none;
  cursor: pointer;
  display: block;
  font-size: 0;

  &,
  &:focus {
    background-color: transparent;
    fill: rgba(#fff, .5);
  }

  &:hover {
    background-color: transparent;
    border-color: transparent;
    fill: #fff;
  }

  &:active {
    background-color: transparent;
    fill: #fff;
  }
}

.sc-tag.attention {
  background-color: #FF9830;
}
