@import "../../environments/flexiblegs-scss";
@import "../../environments/mixins";

.sc-tag {
  background-color: #aaa;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 8px;
  margin-right: 8px;
  max-width: calc(100% - #{32px});
  padding-right: 24px;
  position: relative;
  //
  // &.sc-tag_state_active {
  //   background-color: #888;
  //   color: #fff;
  // }
  //
  // &.sc-tag_state_disabled,
  // &.sc-tag_state_disabled:hover {
  //   background-color: #eee;
  //   color: #888;
  // }
  //
  // &.sc-tag_state_attention {
  //   background-color: #fff;
  //   color: #ff8c19;
  // }
  //
  // &.active,
  // &:hover {
  //   background-color: #fff;
  //   color: #444;
  //
  //   .sc-panel-tag__icon {
  //     color: #888;
  //   }
  // }
  //
  .sc-tag__title {
    margin: 0 8px;
    font-weight: 600;
    max-width: calc(100% - 24px);
    @include dots();
  }
}
// .sc-panel-tag__icon {
// 	color: #aaa;
// 	display: block;
// 	float: left;
// 	font-size: 13px;
// 	line-height: 8px * 3 - 2px;
// 	margin-right: 8px / 2;
// 	text-align: center;
// 	width: 8px * 2;
//
// 	.sc-tag_state_active & {
// 		color: #eee;
// 	}
//
// 	.sc-tag_state_disabled &,
// 	.sc-tag_state_disabled:hover & {
// 		color: #ccc;
// 	}
//
// 	.sc-tag_state_attention & {
// 		color: #ff8c19;
// 	}
// }
//
.sc-tag__button,
.sc-tag__button:focus {
	border: none;
	cursor: pointer;
	display: block;
	font-size: 0;
	margin-right: 0;
	padding: 0;
  position: absolute;
  right: 6px;
  top: 6px;

	&, &:focus {
		background-color: transparent;
		fill: #d4d4d4;
	}
	&:hover {
		background-color: transparent;
		border-color: transparent;
		fill: #fff;
	}
	&:active,
	&.button_state_active {
		background-color: transparent;
		fill: #fff;
	}
	&[disabled],
	fieldset[disabled] &,
	&.button_state_disabled {
		background-color: transparent;
		fill: #ccc;
	}
}
//
// .sc-panel-tag__title {
// 	float: left;
// 	margin: 0 8px / 2;
// 	max-width: calc(100% - #{8px});
// 	@include dots();
// }	.sc-tag {
// 	background-color: #eee;
// 	border: 1px solid #ccc;
// 	color: #666;
// 	display: inline-block;
// 	font-size: 11px;
// 	height: 8px * 3;
// 	line-height: 8px * 3 - 2px;
// 	margin-bottom: 8px / 2;
// 	margin-right: 8px / 2;
// 	max-width: calc(100% - #{32px});
// 	padding-right: 8px * 3;
// 	text-transform: uppercase;
//
// 	&.sc-tag_state_active {
// 		background-color: #888;
// 		color: #fff;
// 		border: 1px solid #888;
// 	}
// 	&.sc-tag_state_disabled,
// 	&.sc-tag_state_disabled:hover {
// 		background-color: #eee;
// 		color: #888;
// 	}
//
// 	&.sc-tag_state_attention {
// 		background-color: #fff4;
// 		color: #ff8c19;
// 	}
//
// 	&:hover,
// 	&.active {
// 		background-color: #fff4;
// 		color: #444;
//
// 		.sc-panel-tag__icon {
// 			color: #888;
// 		}
// 	}
// }
//
// .sc-panel-tag__icon {
// 	color: #aaa;
// 	display: block;
// 	float: left;
// 	font-size: 14px;
// 	line-height: 24px;
// 	margin-right: 8px / 2;
// 	text-align: center;
// 	width: 8px * 2;
//
// 	.sc-tag_state_active & {
// 		color: #eee;
// 	}
//
// 	.sc-tag_state_disabled &,
// 	.sc-tag_state_disabled:hover & {
// 		color: #ccc;
// 	}
//
// 	.sc-tag_state_attention & {
// 		color: #ff8c19;
// 	}
// }
//
// .sc-tag__button,
// .sc-tag__button:focus {
// 	border: none;
// 	color: #aaa;
// 	cursor: pointer;
// 	display: block;
// 	float: right;
// 	font-size: 13px;
// 	height: 8px * 3 - 2px;
// 	line-height: 8px * 3 - 2px;
// 	margin-right: - (8px * 3 - 8px / 2)!important;
// 	padding: 0;
// 	width: 8px * 2;
//
// 	&, &:focus {
// 		background-color: transparent;
// 		border-color: transparent;
// 		color: #666;
// 	}
// 	&:hover {
// 		background-color: transparent;
// 		border-color: transparent;
// 		color: inherit;
// 	}
// 	&:active,
// 	&.button_state_active {
// 		background-color: transparent;
// 		border-color: transparent;
// 		color: #444;
// 	}
// 	&[disabled],
// 	fieldset[disabled] &,
// 	&.button_state_disabled {
// 		background-color: transparent;
// 		border-color: transparent;
// 		color: #ccc;
// 	}
// }
//
