@import "../environments/flexiblegs-scss";
@import "../environments/mixins";

.sc-panel-tag {
	@include wrap;
  @include wrap('middle');
  @include wrap(auto);
  @include wrap('gutter', 16);
	@include wrap('outside', 0);
  box-sizing: border-box;
	background: #fafafa;
	height: 40px;
	line-height: 1;
	overflow: hidden;
	padding: 6px 2px;
	padding-bottom: 0;
	position: relative;
	white-space: nowrap;
  border: 2px solid #777777;

	&:hover {
		background: #fff;
		height: auto;
		white-space: normal;
		max-height: 168px;
		overflow-y: auto;

		&:after {
			display: none;
		}
	}

	&:after {
		background: linear-gradient(to left, #fff 25%, transparent);
		content: '';
		right: 0;
		position: absolute;
		top: 0;
    bottom: 0;
		width: 32px;
	}

	> * {
		margin-bottom: 8px;
	}
}
