<sc-typeahead
  [disabled]="false"
  [model]="modelTest"
  [placeholder]="placeholderTest"
  [searchLoading]="searchLoadingTest"
  [searchMinLength]="searchMinLengthTest">
</sc-typeahead >
<div>
  <span>Model: </span>
  <span>{{modelTest}}</span>
</div>
<div>----------------------</div>

<sc-typeahead
  [disabled]="false"
  [model]="modelTest"
  [placeholder]="placeholderTest"
  [searchLoading]="searchLoadingTest"
  [searchMinLength]="searchMinLengthTest"
  [mod]="modTest2">
</sc-typeahead >
<div>
  <span>Model: </span>
  <span>{{modelTest}}</span>
</div>
<div>----------------------</div>

<sc-typeahead
  [disabled]="false"
  [model]="modelTest"
  [placeholder]="placeholderTest"
  [searchLoading]="searchLoadingTest"
  [searchMinLength]="searchMinLengthTest"
  [mod]="modTest3">
</sc-typeahead >
<div>
  <span>Model: </span>
  <span>{{modelTest}}</span>
</div>
<div>----------------------</div>

<sc-typeahead
  [disabled]="true"
  [model]="modelTest"
  [placeholder]="placeholderTest"
  [searchLoading]="searchLoadingTest"
  [searchMinLength]="searchMinLengthTest"
  [mod]="modTest3">
</sc-typeahead >
<div>
  <span>Model: </span>
  <span>{{modelTest}}</span>
</div>
<div>----------------------</div>
