$header-height: 48px;
$footer-height: 36px;
.navigation,
.preview {
  height: calc(100vh - #{$header-height + $footer-height});
  overflow: auto;
  padding: 8px;
  background-image: -moz-linear-gradient(45deg, #ccc 25%, transparent 25%), -moz-linear-gradient(-45deg, #ccc 25%, transparent 25%), -moz-linear-gradient(45deg, transparent 75%, #ccc 75%), -moz-linear-gradient(-45deg, transparent 75%, #ccc 75%);
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #ccc), color-stop(.25, transparent)), -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #ccc), color-stop(.25, transparent)), -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, #ccc)), -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, #ccc));
  background-size: 16px 16px;
  background-position: 0 0, 8px 0, 8px -8px, 0px 8px;
}

.preview {
  height: calc(100vh - 116px);
}
