<sc-panel [title]="titleTest1" [sizeType]="sizeTest1" [colorType]="colorTest1" [iconUrl]="iconUrlTest1">
  <button>
    <sc-svg-icon before
                 src="sc/svg/top.svg"></sc-svg-icon>
    Кнопка
  </button>
</sc-panel>

<sc-panel [title]="titleTest2" [sizeType]="sizeTest2" [colorType]="colorTest2" [iconUrl]="iconUrlTest2">
  <button>
    Кнопка
  </button>
</sc-panel>

<sc-panel [title]="titleTest3" [sizeType]="sizeTest3" [colorType]="colorTest3">
  <button>
    Кнопка
  </button>
</sc-panel>
