// миксина цветов состояний кнопки
// (default, hover, active, disable)
@import "../environments/variables";
@import "../environments/flexiblegs-scss";

@mixin hover-animation {
	transition: background 0.3s ease 0s, border 0.3s ease 0s; fill: 0.3s ease 0s;
}

$button-height: 40px; // Высота кнопки
$button-min-width: 40px; // Минимальная ширина кнопки
$button-grid: 8px;
$border-width: 2px;

// Дефолтное состояние
$default-text-color: #fff !default;
$default-background: #269999 !default;
$default-border-color: #269999 !default;
// При наведении
$default-text-color-hover: #fff !default;
$default-background-hover: #2DB3B3 !default;
$default-border-color-hover: #2DB3B3 !default;
// Активное состояние
$default-text-color-active: #fff !default;
$default-background-active: #196666 !default;
$default-border-color-active: #196666 !default;


@mixin button( $text-color, $background, $border-color, $text-color-hover, $background-hover, $border-color-hover, $text-color-active, $background-active, $border-color-active) {
	&,
	&:focus {
		background-color: $background;
		box-shadow: inset 0px 0px 0px $border-width rgba($border-color, 1);
		color: $text-color;
		fill: $text-color;
	}

	&:hover {
		background-color: $background-hover;
		box-shadow: inset 0px 0px 0px $border-width rgba($border-color-hover, 1);
		color: $text-color-hover;
		fill: $text-color-hover;
	}

	&.sc-button_state_active,
	&:active {
		background-color: $background-active;
		box-shadow: inset 0px 0px 0px $border-width rgba($border-color-active, 1);
		color: $text-color-active;
		fill: $text-color-active;
	}

	&.sc-button_state_disabled,
	&[disabled],
	fieldset[disabled] & {
		background-color: rgba($background, .5);
		box-shadow: inset 0px 0px 0px $border-width rgba($border-color, .5);
		color: rgba($text-color, .5);
		fill: rgba($text-color, .5);
	}
}
/* Базовый стиль (start) */
.sc-button {
	@include button($default-text-color, $default-background, $default-border-color, $default-text-color-hover, $default-background-hover, $default-border-color-hover, $default-text-color-active, $default-background-active, $default-border-color-active);
	@include wrap;
	@include wrap( 'middle');
	@include wrap( 'center');
	display: inline-block;
	vertical-align: middle;
	border: 0;
	box-sizing: border-box;
	height: $button-height;
	min-width: $button-min-width;
	padding: 0;
	position: relative;
	width: auto;


	& > * {
			// @include col;
			min-width: $button-grid * 5;
	}

	.sc-button__text {
		// @include col;
			padding: 0 $button-grid * 2;
			min-width: $button-min-width;

			&.sc-button__text_left {
				padding-left: 0;
			}

			&.sc-button__text_right {
				padding-right: 0;
			}
	}

	&,
	&:focus {
		@include hover-animation();
		background-image: none;
		text-decoration: none;
		touch-action: manipulation;
	}

	&:hover {
		cursor: pointer !important;
		text-decoration: none;
	}

	&.button_state_disabled,
	&[disabled],
	&[disabled]:hover,
	fieldset[disabled] & {
		cursor: default;
		pointer-events: none;
	}

	& .sc-button__text {
		font-size: 16px;
		line-height: 24px;
		font-weight: 600;
	}

	& .sc-button__text_icons_left, & .sc-button__text_icons_right {
		font-size: 0;
	}
}
/* Базовый стиль (end) */
/* Модификаторы (start) */

// Outline
$contour-text-color: #269999 !default;
$contour-background: #fff !default;
$contour-border-color: #269999 !default;
// При наведении
$contour-text-color-hover: #2DB3B3 !default;
$contour-background-hover: #fff;
$contour-border-color-hover: #2DB3B3 !default;
// Активное состояние
$contour-text-color-active: #196666 !default;
$contour-background-active: #fff !default;
$contour-border-color-active: #196666 !default;

.sc-button_outline {
	@include button($contour-text-color, $contour-background, $contour-border-color, $contour-text-color-hover, $contour-background-hover, $contour-border-color-hover, $contour-text-color-active, $contour-background-active, $contour-border-color-active);
}

// primary
$primary-text-color: #fff !default;
$primary-background: #3399cc !default;
$primary-border-color: #3399cc !default;
// При наведении
$primary-text-color-hover: #fff !default;
$primary-background-hover: #287aa3 !default;
$primary-border-color-hover: #287aa3 !default;
// Активное состояние
$primary-text-color-active: #fff !default;
$primary-background-active: #1E5B7A !default;
$primary-border-color-active: #1E5B7A !default;

.sc-button_primary {
	@include button($primary-text-color, $primary-background, $primary-border-color, $primary-text-color-hover, $primary-background-hover, $primary-border-color-hover, $primary-text-color-active, $primary-background-active, $primary-border-color-active);
}

// Primary-outline
$primary-outline-text-color: #3399cc !default;
$primary-outline-background: #fff !default;
$primary-outline-border-color: #3399cc !default;
// При наведении
$primary-outline-text-color-hover: #287aa3 !default;
$primary-outline-background-hover: #fff;
$primary-outline-border-color-hover: #287aa3 !default;
// Активное состояние
$primary-outline-text-color-active: #196666 !default;
$primary-outline-background-active: #fff !default;
$primary-outline-border-color-active: #196666 !default;

.sc-button_primary-outline {
	@include button($primary-outline-text-color, $primary-outline-background, $primary-outline-border-color, $primary-outline-text-color-hover, $primary-outline-background-hover, $primary-outline-border-color-hover, $primary-outline-text-color-active, $primary-outline-background-active, $primary-outline-border-color-active);
}

// wraning
$warning-text-color: #fff !default;
$warning-background: #FF9830 !default;
$warning-border-color: #FF9830 !default;
// При наведении
$warning-text-color-hover: #fff !default;
$warning-background-hover: #CC7926 !default;
$warning-border-color-hover: #CC7926 !default;
// Активное состояние
$warning-text-color-active: #fff !default;
$warning-background-active: #995B1C !default;
$warning-border-color-active: #995B1C !default;

.sc-button_warning {
	@include button($warning-text-color, $warning-background, $warning-border-color, $warning-text-color-hover, $warning-background-hover, $warning-border-color-hover, $warning-text-color-active, $warning-background-active, $warning-border-color-active);
}

// warning-outline
$warning-outline-text-color: #FF9830 !default;
$warning-outline-background: #fff !default;
$warning-outline-border-color: #FF9830 !default;
// При наведении
$warning-outline-text-color-hover: #CC7926 !default;
$warning-outline-background-hover: #fff !default;
$warning-outline-border-color-hover: #CC7926 !default;
// Активное состояние
$warning-outline-text-color-active: #995B1C !default;
$warning-outline-background-active: #fff !default;
$warning-outline-border-color-active: #995B1C !default;

.sc-button_warning-outline {
	@include button($warning-outline-text-color, $warning-outline-background, $warning-outline-border-color, $warning-outline-text-color-hover, $warning-outline-background-hover, $warning-outline-border-color-hover, $warning-outline-text-color-active, $warning-outline-background-active, $warning-outline-border-color-active);
}

// danger
$danger-text-color: #fff !default;
$danger-background: #E65C5C !default;
$danger-border-color: #E65C5C !default;
// При наведении
$danger-text-color-hover: #fff !default;
$danger-background-hover: #FF6666 !default;
$danger-border-color-hover: #FF6666 !default;
// Активное состояние
$danger-text-color-active: #fff !default;
$danger-background-active: #BF4D4D !default;
$danger-border-color-active: #BF4D4D !default;

.sc-button_danger {
	@include button($danger-text-color, $danger-background, $danger-border-color, $danger-text-color-hover, $danger-background-hover, $danger-border-color-hover, $danger-text-color-active, $danger-background-active, $danger-border-color-active);
}

// danger-outline
$danger-outline-text-color: #E65C5C !default;
$danger-outline-background: #fff !default;
$danger-outline-border-color: #E65C5C !default;
// При наведении
$danger-outline-text-color-hover: #FF6666 !default;
$danger-outline-background-hover: #fff !default;
$danger-outline-border-color-hover: #FF6666 !default;
// Активное состояние
$danger-outline-text-color-active: #BF4D4D !default;
$danger-outline-background-active: #fff !default;
$danger-outline-border-color-active: #BF4D4D !default;

.sc-button_danger-outline {
	@include button($danger-outline-text-color, $danger-outline-background, $danger-outline-border-color, $danger-outline-text-color-hover, $danger-outline-background-hover, $danger-outline-border-color-hover, $danger-outline-text-color-active, $danger-outline-background-active, $danger-outline-border-color-active);
}

// gray
$gray-text-color: #fff !default;
$gray-background: #777 !default;
$gray-border-color: #777 !default;
// При наведении
$gray-text-color-hover: #fff !default;
$gray-background-hover: #5F5F5F !default;
$gray-border-color-hover: #5F5F5F !default;
// Активное состояние
$gray-text-color-active: #fff !default;
$gray-background-active: #474747 !default;
$gray-border-color-active: #474747 !default;

.sc-button_gray {
	@include button($gray-text-color, $gray-background, $gray-border-color, $gray-text-color-hover, $gray-background-hover, $gray-border-color-hover, $gray-text-color-active, $gray-background-active, $gray-border-color-active);
}

// gray-outline
$gray-outline-text-color: #777 !default;
$gray-outline-background: #fff !default;
$gray-outline-border-color: #777 !default;
// При наведении
$gray-outline-text-color-hover: #5F5F5F !default;
$gray-outline-background-hover: #fff !default;
$gray-outline-border-color-hover: #5F5F5F !default;
// Активное состояние
$gray-outline-text-color-active: #474747 !default;
$gray-outline-background-active: #fff !default;
$gray-outline-border-color-active: #474747 !default;

.sc-button_gray-outline {
	@include button($gray-outline-text-color, $gray-outline-background, $gray-outline-border-color, $gray-outline-text-color-hover, $gray-outline-background-hover, $gray-outline-border-color-hover, $gray-outline-text-color-active, $gray-outline-background-active, $gray-outline-border-color-active);
}
/* Модификаторы (end) */
