<sc-checkbox
  [model]="isChecked"
  [disabled]="false"
  [label]="testLabel"
  [name]="testName"
  [indeterminate]="true"
  (change)="onChangeTest()"
></sc-checkbox>

<sc-checkbox
  [model]=""
  [disabled]="false"
  [label]="testLabel"
  [name]="testName"
  [indeterminate]="true"
  (change)="onChangeTest()"
></sc-checkbox>

<sc-checkbox
  [model]="true"
  [disabled]="true"
  [label]="testLabel"
  [name]="testName"
  [indeterminate]="true"
></sc-checkbox>

<sc-checkbox
  [model]="isChecked"
  [disabled]="false"
  [label]="testLabel"
  [name]="testName"
  [indeterminate]="true"
  [mod]="warning"
></sc-checkbox>

<sc-checkbox
  [model]="isChecked"
  [disabled]="true"
  [label]="testLabel"
  [name]="testName"
  [indeterminate]="true"
></sc-checkbox>

<sc-checkbox
  [model]="isChecked"
  [disabled]="false"
  [label]="testLabel"
  [name]="testName"
  [mod]="attention"
></sc-checkbox>

<sc-checkbox
  [model]=""
  [disabled]="false"
  [label]="testLabel"
  [name]="testName"
  [indeterminate]="true"
  [mod]="attention"
  (change)="onChangeTest()"
></sc-checkbox>

<sc-checkbox
  [model]="isChecked"
  [disabled]="true"
  [label]="testLabel"
  [name]="testName"
  [indeterminate]="true"
  [mod]="warning"
></sc-checkbox>
