@import "../environments/mixins.scss";
@import "../environments/flexiblegs-scss";

// Миксин цветов состояний текстового поля
// (default, hover, focus, disable)
@mixin text-field(
    $text-color,
    $icon-color,
    $border-color,
    $placeholder-color,

    $text-color-hover,
    $icon-color-hover,
    $border-color-hover,
    $placeholder-color-hover,

    $text-color-focus,
    $icon-color-focus,
    $border-color-focus,
    $placeholder-color-focus
) {

  &, &.focus {
      box-shadow: inset 0 0 0 2px rgba($border-color, 1);
      border-color: $border-color;

      .input {
          color: $text-color;
          &::-webkit-input-placeholder {
              color: $placeholder-color !important;
          }
          &::-moz-placeholder {
              color: $placeholder-color !important;
          }
      }

      .icon {
          color: $icon-color;
      }

      // .icon-core-delete {
      //     cursor: pointer !important;
      //     color: $gray-c;
      //     line-height: 40px - 2;
      //
      //     &:hover {
      //         color: $color-danger-60-90;
      //     }
      //     &:active {
      //         color: $color-danger-60-75;
      //     }
      // }
  }

  &:hover {
      box-shadow: inset 0 0 0 2px rgba($border-color-hover, 1);

      .input {
          color: $text-color-hover;
          &::-webkit-input-placeholder {
              color: $placeholder-color-hover !important;
          }
          &::-moz-placeholder {
              color: $placeholder-color-hover !important;
          }
      }

      // .icon-core-delete {
      //     color: $gray-c;
      //     line-height: 40px - 2;
      //
      //     &:hover {
      //         color: $color-danger-60-90;
      //     }
      //     &:active {
      //         color: $color-danger-60-75;
      //     }
      // }
  }

  &.focus {
      box-shadow: inset 0 0 0 2px rgba($border-color-focus, 1);

      .input {
          color: $text-color-focus;
          &::-webkit-input-placeholder {
              color: $placeholder-color-focus !important;
          }
          &::-moz-placeholder {
              color: $placeholder-color-focus !important;
          }
      }

      .icon {
          color: $icon-color-focus;
      }

      // .icon-core-delete {
      //     color: $gray-c;
      //     line-height: 40px - 2;
      //     &:hover {
      //         color: $color-danger-60-90;
      //     }
      //     &:active {
      //         color: $color-danger-60-75;
      //     }
      // }
  }

  & > input:only-child {
      padding: 16px;
  }

  & > input:first-child {
      padding-left: 16px;
  }

  & > input:last-child {
      padding-right: 16px;
  }
}

/* Базовый стиль (start) */
  $default-text-field-text-color: #777;
  $default-text-field-icon-color: #777;
  $default-text-field-border-color: #777;
  $default-text-field-placeholder-color: #777;

  $default-text-field-text-color-hover: #777;
  $default-text-field-icon-color-hover: #777;
  $default-text-field-border-color-hover: #777;
  $default-text-field-placeholder-color-hover: #777;

  $default-text-field-text-color-focus: #333;
  $default-text-field-icon-color-focus: #333;
  $default-text-field-border-color-focus: #39c;
  $default-text-field-placeholder-color-focus: #333;


.sc-text-field {
     margin: 0;
     border: 0;
     padding: 0;

   .sc-text-field__inner {
       @include wrap;
       @include wrap("table");
       @include wrap("middle");
       @include wrap("left");
       @include text-field(
                          $default-text-field-text-color,
                          $default-text-field-icon-color,
                          $default-text-field-border-color,
                          $default-text-field-placeholder-color,

                          $default-text-field-text-color-hover,
                          $default-text-field-icon-color-hover,
                          $default-text-field-border-color-hover,
                          $default-text-field-placeholder-color-hover,

                          $default-text-field-text-color-focus,
                          $default-text-field-icon-color-focus,
                          $default-text-field-border-color-focus,
                          $default-text-field-placeholder-color-focus
                       );
       box-sizing: border-box;
       font-size: 13px;
       margin: 0;
       border: 0;
       padding: 0;
       width: 100%;
       background-color: #fff;

       & > * {
           @include col;
       }



   }

   input {
       @include dots;
       box-sizing: border-box;
       background: transparent;
       border: 0;
       box-shadow: none;
       font-size: 13px;
       font-weight: 600;
       height: 40px;
       padding: 0;
       width: 100%;
       outline: none;

       &::-webkit-input-placeholder {
           font-weight: normal;
       }
       &::-moz-placeholder {
           font-weight: normal;
       }
   }

   & > .icon {
       width: 40px;
       text-align: center;
   }

    &.disabled ,
    &[disabled]  {
        .sc-text-field__inner,
        .sc-text-field__inner:hover {
            box-shadow: inset 0 0 0 2px rgba(#aaa, 1);
            background-color: #e5e5e5;

            .input[disabled] {
                // color: $gray-8;
                &::-webkit-input-placeholder {
                    color: #aaa !important;
                }
                &::-moz-placeholder {
                    color: #aaa !important;
                }
            }

            .icon {
                // color: $gray-c;
            }

            // .icon-core-delete {
            //     display: none;
            // }
        }
    }

    .sc-text-field__clear {

      width: 40px;
      font-size: 0;
      line-height: 0;
      text-align: center;

      button {
        background: none;
        border: 0;
        padding: 0;
        margin: 0;
        width: 16px;
        height: 16px;
        outline: none;
        cursor: pointer;
        fill: #777;

        &:hover, &:focus {
          fill: #E65C5C;
        }
      }
    }
}

/* Базовый стиль (end) */
//
// /* Модификаторы (start) */
//
// .sc-text-field_type_warning {
//     .sc-text-field__inner {
//         @include text-field(
//                         $gray-4, $color-danger-60-90, $color-danger-60-90, $color-danger-60-90, //$text-color, $icon-color, $border-color, $placeholder-color
//                         $gray-4, $color-danger-60-90, $color-danger-60-90, $color-danger-60-90, //$text-color-hover, $icon-color-hover, $border-color-hover, $placeholder-color-focus,
//                         $gray-4, $color-danger-60-90, $color-danger-60-90, $color-danger-60-90 // $text-color-focus, $icon-color-focus, $border-color-focus,
//                         );
//     }
// }
//
// .sc-text-field_type_attention {
//     .sc-text-field__inner {
//         @include text-field(
//                         $gray-4, $color-warning-90-100, $color-warning-90-100, $color-warning-90-100, //$text-color, $icon-color, $border-color, $placeholder-color
//                         $gray-4, $color-warning-90-100, $color-warning-90-100, $color-warning-90-100, //$text-color-hover, $icon-color-hover, $border-color-hover, $placeholder-color-focus,
//                         $gray-4, $color-warning-90-100, $color-warning-90-100, $color-warning-90-100 // $text-color-focus, $icon-color-focus, $border-color-focus,
//                         );
//     }
// }
//
// .sc-text-field_border_big_default {
//     .sc-text-field__inner {
//         @include text-field(
//                         $gray-4, $gray-a, $gray-c, $gray-a, //$text-color, $icon-color, $border-color, $placeholder-color
//                         $gray-4, $gray-a, $gray-c, $gray-a, //$text-color-hover, $icon-color-hover, $border-color-hover, $placeholder-color-focus,
//                         $gray-4, $gray-6, $color-basic-75-60, $gray-8, 2px // $text-color-focus, $icon-color-focus, $border-color-focus,
//                         );
//     }
// }
//
// .sc-text-field_theme_big {
//     .sc-text-field__inner input {
//         height: 16px * 5;
//         font-size: 14px;
//         font-weight: 600;
//
//         &::placeholer {
//           font-weight: 600;
//
//         }
//     }
//
//     .sc-text-field__inner>input:last-child  {
//         padding-right: 16px * 2;
//     }
//     .sc-text-field__inner>input:first-child  {
//         padding-left: 16px * 2;
//     }
//     .sc-text-field__inner>input:only-child  {
//         padding: 16px 16px * 2;
//     }
//
// }
/* Модификаторы (end) */
