<ng-template #rt let-result="result" let-term="term" let-formatter="formatter">
    <sc-highlight [result]="formatter(result)" [term]="term"></sc-highlight>
</ng-template>
<ng-template ngFor [ngForOf]="results" let-result let-idx="index">
    <button type="button" class="dropdown-item" role="option"
        [id]="id + '-' + idx"
        [class.active]="idx === activeIdx"
        (mouseenter)="markActive(idx)"
        (click)="select(result)">
        <ng-template [ngTemplateOutlet]="resultTemplate || rt"
            [ngTemplateOutletContext]="{result: result, term: term, formatter: formatter}"></ng-template>
    </button>
</ng-template>