<p>
  demo-input works!
</p>
<p>{{inputModel}}</p>
<div class="wrap wrap-table wrap-gutter-16">
  <div class="wrap__col">

  </div>
  <div class="wrap__col">
    input hint
  </div>
  <div class="wrap__col">
    input value
  </div>
  <div class="wrap__col">
    input hint
  </div>
  <div class="wrap__col">
    input value
  </div>
</div>
<div class="wrap wrap-table wrap-gutter-16">
  <div class="wrap__col">
    default
  </div>
  <div class="wrap__col">
    <sc-input [disabled]="true"></sc-input>
  </div>
  <div class="wrap__col">
    <sc-input name="testName"></sc-input>
  </div>
  <div class="wrap__col">
    <sc-input></sc-input>
  </div>
  <div class="wrap__col">
    <sc-input></sc-input>
  </div>
</div>

<h3>{{inputModel}}</h3>
