<p>
  demo-input works!
</p>
<p>{{inputModel}}</p>
<div class="wrap wrap-table wrap-gutter-16">
  <div class="wrap__col">

  </div>
  <div class="wrap__col">
    input hint
  </div>
  <div class="wrap__col">
    input value
  </div>
  <div class="wrap__col">
    input hint
  </div>
  <div class="wrap__col">
    input value
  </div>
</div>
<div class="wrap wrap-table wrap-gutter-16">
  <div class="wrap__col">
    default
  </div>
  <div class="wrap__col">
      <!-- <input [textMask]="{mask: mask}" [(ngModel)]="myModel" type="text"/> -->

      <sc-text-field [mod]="warning">
          <!-- Иконка слева -->
          <!-- <sc-svg-icon before -->
            <!-- src="svg/top.svg"></sc-svg-icon> -->

          <!-- Поле с маской   -->
          <input [textMask]="{mask: mask}" [(ngModel)]="myModel" type="text"/>

          <!-- Иконка справа   -->
          <!-- <sc-svg-icon after
            src="svg/doctor-bag-solid.svg"></sc-svg-icon> -->
      </sc-text-field>


    <!-- <sc-input [disabled]="true">
      <input placeholder="Введите значение"
                class="sc-input__"
                type="text"
                [disabled]="disabled"

                [name]="name"
                >
    </sc-input> -->
  </div>
  <div class="wrap__col">

  </div>
  <div class="wrap__col">

  </div>
  <div class="wrap__col">

  </div>
</div>

<h3>{{inputModel}}</h3>
