@import "~bootstrap/scss/mixins/reset-text";
//@import '../sc-icon/sc-icon';
@import "../environments/flexiblegs-scss";

// Default colors

// default
$magnus-default: (
		text: #333,
		background: #fff,
		icon: #777,
		checkedIcon: #269999
);

$magnus-default-disabled: (
		text: #BBB,
		background: #fff,
		icon: #C8C8C8,
		checkedIcon: #ACD6D6
);

// default on dark

$magnus-on-dark-default: (
		text: #FFF,
		background: transparent,
		icon: #FFF,
		checkedIcon: #FFF
);

$magnus-on-dark-default-disabled: (
		text: #8BBDDF,
		background: transparent,
		icon: #8BBDDF,
		checkedIcon: #8BBDDF
);

@mixin sc-checkbox( $default-colors, $disabled-colors) {
	.sc-checkbox__check {
		color: map-get($default-colors, checked);
		box-shadow: inset 0px 0px 0px 1px rgba(map-get($default-colors, icon), 1);
		background-color: map-get($default-colors, background);

		.sc-checkbox__icon_type_indeterminate {
			background-color: map-get($default-colors, icon);
		}

		//Checked
		&_checked {
			color: map-get($default-colors, checkedIcon);
			box-shadow: inset 0px 0px 0px 1px rgba(map-get($default-colors, checkedIcon), 1);
			background-color: map-get($default-colors, background);

			&.indeterminate .sc-checkbox__icon_type_indeterminate {
				background: map-get($default-colors, checkedIcon);
			}
		}
	}

	.sc-checkbox__label {
		color: map-get($default-colors, text);
	}

	&.indeterminate .sc-checkbox__icon_type_indeterminate {
		background: map-get($default-colors, icon);
	}

	&.sc-checkbox_disabled {
		.sc-checkbox__check {
			color: map-get($disabled-colors, icon);
			box-shadow: inset 0px 0px 0px 1px rgba(map-get($disabled-colors, icon), 1);
			background-color: map-get($disabled-colors, background);

			&_checked {
				color: map-get($disabled-colors, checkedIcon);
				background: map-get($disabled-colors, background);
				box-shadow: inset 0px 0px 0px 1px rgba(map-get($disabled-colors, checkedIcon), 1);
				background-color: map-get($disabled-colors, background);
				.sc-checkbox__icon {
					color: map-get($disabled-colors, checkedIcon);
				}
			}
		}

		.sc-checkbox__label {
			color: map-get($disabled-colors, text);
		}

		&.indeterminate .sc-checkbox__icon_type_indeterminate {
			background: map-get($disabled-colors, icon);
		}
	}

}

.sc-checkbox {
	@include wrap;
	@include wrap('top');
	@include wrap('middle');
	@include sc-checkbox($magnus-default, $magnus-default-disabled);

	align-items: flex-start;
	display: inline-flex;
	vertical-align: middle;
	width: auto;
	margin: 0;
	line-height: 16px;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;

	input[type="checkbox"] {
		display: none;
	}

	.sc-checkbox__check {
		@include wrap;
		@include wrap('flexbox');
		@include wrap('center');
		@include wrap('middle');

		width: 16px;
		height: 16px;
		text-align: center;
		line-height: 16px;
	}
	.sc-checkbox__icon_type_indeterminate {
		width: 8px;
		height: 8px;
		display: inline-block;
		vertical-align: middle;
	}
	.sc-checkbox__label {
		font-size: 15px;
		font-weight: normal;
		padding-left: 8px;
		line-height: 16px;
		width: calc(100% - 16px);
	}
	&:hover {

		.sc-checkbox__label {
			cursor: pointer;
		}
	}

	&.disabled {
		opacity: .4;
		.sc-checkbox__label {
			pointer-events: none;
		}
	}
	.sc-svg-icon {
		display: none;
		&_check {
			display: inherit;
		}
	}
}

.sc-checkbox_on-dark {
	@include sc-checkbox($magnus-on-dark-default, $magnus-on-dark-default-disabled);
}


// Magnus warning
$magnus-warning: (
		text: #E65C5C,
		background: #fff,
		icon: #E65C5C,
		checkedIcon: #E65C5C
);

$magnus-warning-disabled: (
		text: #F1BDBD,
		background: #fff,
		icon: #F1BDBD,
		checkedIcon: #F1BDBD
);

// on dark warning

$magnus-on-dark-warning: (
		text: #FFF,
		background: #FFF,
		icon: #E65C5C,
		checkedIcon: #E65C5C
);

$magnus-on-dark-warning-disabled: (
		text: #8BBDDF,
		background: #8BBDDF,
		icon: #7B7D9E,
		checkedIcon: #7B7D9E
);

.sc-checkbox_warning {
	@include sc-checkbox($magnus-warning, $magnus-warning-disabled);
}
.sc-checkbox_on-dark-warning {
	@include sc-checkbox($magnus-on-dark-warning, $magnus-on-dark-warning-disabled);
}

// Magnus attention
$magnus-attention: (
		text: #FF9830,
		background: #fff,
		icon: #FF9830,
		checkedIcon: #FF9830
);

$magnus-attention-disabled: (
		text: #FBD7AC,
		background: #fff,
		icon: #FBD7AC,
		checkedIcon: #FBD7AC
);
// on dark attention

$magnus-on-dark-attention: (
		text: #FFF,
		background: #FFF,
		icon: #FF9830,
		checkedIcon: #FF9830
);

$magnus-on-dark-attention-disabled: (
		text: #8BBDDF,
		background: #8BBDDF,
		icon: #84979D,
		checkedIcon: #84979D
);

.sc-checkbox_attention {
	@include sc-checkbox($magnus-attention, $magnus-attention-disabled);
}

.sc-checkbox_on-dark-attention {
	@include sc-checkbox($magnus-on-dark-attention, $magnus-on-dark-attention-disabled);
}