<label
        class="sc-checkbox"
        [ngClass]="{
    'sc-checkbox_disabled': disabled,
    'sc-checkbox_warning': mod == Mod.warning,
    'sc-checkbox_attention': mod == Mod.attention,
    'sc-checkbox_on-dark': mod == Mod.onDark,
    'sc-checkbox_on-dark-warning': mod == Mod.onDarkWarning,
    'sc-checkbox_on-dark-attention': mod == Mod.onDarkAttention
  }">
    <input
            type="checkbox"
            [checked]="model"
            [disabled]="disabled"
            (change)="changeModel()"
            [name]="name"/>
    <span
            class="sc-checkbox__check"
            [ngClass]="{
      'sc-checkbox__check_checked': model,
      'sc-checkbox__check_attention': mod == Mod.attention,
      'sc-checkbox__check_warning': mod ==  Mod.warning
    }">
      <sc-svg-icon before
                   src="sc/svg/icon_check.svg"
                   class="sc-svg-icon sc-svg-icon_small"
                   [ngClass]="{
                   'sc-svg-icon_check' : model
                }">
      </sc-svg-icon>
      <span
              *ngIf="indeterminate && model != false && model != true"
              class="sc-checkbox__icon_type_indeterminate">
      </span>
    </span>
    <span
            *ngIf="label"
            class="sc-checkbox__label"
            [ngClass]="{
      'sc-checkbox__label_warning': mod == Mod.warning,
      'sc-checkbox__label_attention': mod == Mod.attention
    }">
    {{label}}
  </span>
</label>
