<label
  class="checkbox"
  [ngClass]="{
    'checkbox_disabled': disabled,
    'checkbox_warning': mod == Mod.warning,
    'checkbox_attention': mod == Mod.attention
  }">
  <input
    type="checkbox"
    [checked]="model"
    [disabled]="disabled"
    (change)="changeModel()"
    [name]="name"/>
  <span
    class="check"
    [ngClass]="{
      'check_checked': model,
      'check_attention': mod == Mod.attention,
      'check_warning': mod ==  Mod.warning
    }">
      <sc-svg-icon before
                src="sc/svg/icon_check.svg"
                class="sc-svg-icon"
                [ngClass]="{
                  'sc-svg-icon_indeterminate': indeterminate,
                  'sc-svg-icon_check' : model
                }">
      </sc-svg-icon>
      <div
        *ngIf="indeterminate && model != false && model != true"
        class="indeterminate"
        [ngClass]="{
            'indeterminate_warning': mod == Mod.warning,
            'indeterminate_attention': mod == Mod.attention
        }">
      </div>
    </span>
  <div
    *ngIf="label"
    class="checkbox__label"
    [ngClass]="{
      'checkbox__label_warning': mod == Mod.warning,
      'checkbox__label_attention': mod == Mod.attention
    }">
    {{label}}
  </div>
</label>
