// миксина цветов состояний кнопки
// (default, hover, active, disable)
@import "../environments/variables";
@import "../environments/flexiblegs-scss";

@mixin hover-animation {
	transition: background 0.3s ease 0s, border 0.3s ease 0s; fill: 0.3s ease 0s;
}
$base-gutter: 8px;
$button-height: 32px; // Высота кнопки
$button-min-width: 40px; // Минимальная ширина кнопки
$button-grid: 8px;
$border-width: 2px;

// Дефолтное состояние
$default-text-color: #fff !default;
$default-background: #269999 !default;
$default-border-color: #269999 !default;
// При наведении
$default-text-color-hover: #fff !default;
$default-background-hover: #2DB3B3 !default;
$default-border-color-hover: #2DB3B3 !default;
// Активное состояние
$default-text-color-active: #fff !default;
$default-background-active: #196666 !default;
$default-border-color-active: #196666 !default;


@mixin hover-animation {
	transition: background 0.3s ease 0s, border 0.3s ease 0s, box-shadow 0.3s ease 0s;
}


/* grayscale palette (start) */

$gray-f: #ffffff; // palette
$gray-fa: #fafafa; // palette
$gray-f2: #f2f2f2; // palette
$gray-f4: #f4f4f4; // palette
$gray-3: #333333; // palette
$gray-4: #444444; // palette
$gray-5: #555555; // unused -> $gray-6
$gray-6: #666666; // palette
$gray-8: #888888; // palette
$gray-a: #aaaaaa; // palette
$gray-b: #bbbbbb; // palette
$gray-c: #cccccc; // palette
$gray-d: #dddddd; // palette
$gray-e: #eeeeee; // palette
$gray-0: #000000; // palette

/* grayscale palette (end) */


/* base color palette (start) */

$color-basic-50-20: #1a3333; // hsb($base-hue, 50, 20)
$color-basic-75-40: #196666; // hsb($base-hue, 75, 40)
$color-basic-50-50: #408080; // hsb($base-hue, 50, 50)
$color-basic-75-50: #208080; // hsb($base-hue, 75, 50)
$color-basic-75-60: #269999; // hsb($base-hue, 75, 60)
$color-basic-75-70: #2db3b3; // hsb($base-hue, 75, 70)

/* base color palette (end) */


/* danger color palette (start) */

$color-danger-60-100: #FF6666; // hsb(0, 60, 100)
$color-danger-60-90: #e65c5c; // hsb(0, 60, 90)
$color-danger-60-75: #BF4D4D; // hsb(0, 60, 75)

/* danger color palette (end) */

//=================================================//
//=====------------Magnus-colors-------------======//
//=================================================//
$btn-basic--default: #269999 !default;
$btn-basic--hover-darken: #1E7A7A;
$btn-basic--active-darken: #165B5B;
$btn-basic--hover-lighten: #D3EAEA;
$btn-basic--active-lighten: #A8D6D6;

$btn-activity--default: #3399CC !default;
$btn-activity--hover-darken: #287AA3;
$btn-activity--active-darken: #1E5B7A;
$btn-activity--hover-lighten: #D6EAF4;
$btn-activity--active-lighten: #ADD6EA;

$btn-warning--default: #FF9830 !default;
$btn-warning--hover-darken: #CC7926;
$btn-warning--active-darken: #995B1C;
$btn-warning--hover-lighten: #FFEAD5;
$btn-warning--active-lighten: #FFD5AC;

$btn-danger--default: #E65C5C !default;
$btn-danger--hover-darken: #B84949;
$btn-danger--active-darken: #8A3737;
$btn-danger--hover-lighten: #FADEDE;
$btn-danger--active-lighten: #F5BDBD;

$btn-gray--default: #777777 !default;
$btn-gray--hover-darken: #474747;
$btn-gray--active-darken: #333333;
$btn-gray--hover-lighten: #DDDDDD;
$btn-gray--active-lighten: #CCCCCC;

$btn-white--default: #fff !default;
$btn-white--hover-darken: mix($gray-0, transparent, 20%);
$btn-white--hover-lighten: mix($btn-basic--default, $gray-f, 20%);
$btn-white--active-darken: mix($gray-0, transparent, 40%);
$btn-white--active-lighten: mix($btn-basic--default, $gray-f, 40%);


// миксин цветов состояний кнопки
// (default, hover, active, disable)
@mixin sc-button ( $text-color, $background, $border-color, $text-color-hover, $background-hover, $border-color-hover, $text-color-active, $background-active, $border-color-active, $text-color-disable, $background-disable, $border-color-disable) {
	&,
	&:focus {
		background-color: $background;
		box-shadow: inset 0px 0px 0px 1px rgba($border-color, 1);
		color: $text-color;
	}
	&:hover {
		background-color: $background-hover;
		box-shadow: inset 0px 0px 0px 1px rgba($border-color-hover, 1);
		color: $text-color-hover;
	}
	&.sc-button_state_active,
	&:active {
		background-color: $background-active;
		box-shadow: inset 0px 0px 0px 1px rgba($border-color-active, 1);
		color: $text-color-active;
	}
	&.button_state_disabled,
	&[disabled],
	fieldset[disabled] & {
		background-color: $background-disable;
		box-shadow: inset 0px 0px 0px 1px rgba($border-color-disable, .5);
		color: $text-color-disable;
		opacity: .4;
	}
}


@mixin button( $text-color, $background, $border-color, $text-color-hover, $background-hover, $border-color-hover, $text-color-active, $background-active, $border-color-active) {
	&,
	&:focus {
		background-color: $background;
		box-shadow: inset 0px 0px 0px $border-width rgba($border-color, 1);
		color: $text-color;
		fill: $text-color;
	}

	&:hover {
		background-color: $background-hover;
		box-shadow: inset 0px 0px 0px $border-width rgba($border-color-hover, 1);
		color: $text-color-hover;
		fill: $text-color-hover;
	}

	&.sc-button_state_active,
	&:active {
		background-color: $background-active;
		box-shadow: inset 0px 0px 0px $border-width rgba($border-color-active, 1);
		color: $text-color-active;
		fill: $text-color-active;
	}

	&.sc-button_state_disabled,
	&[disabled],
	fieldset[disabled] & {
		opacity: .5;
	}
}
/* Базовый стиль (start) */
.sc-button {
	@include sc-button( $gray-fa, $color-basic-75-60, $color-basic-75-60, $gray-fa, $color-basic-75-70, $color-basic-75-70, $gray-fa, $color-basic-75-50, $color-basic-75-50, rgba($gray-fa, .5), rgba($color-basic-75-60, .5), rgba($color-basic-75-60, .0));
	@include wrap;
	@include wrap( 'middle');
	@include wrap( 'center');
	display: inline-block;
	vertical-align: middle;
	border: 0;
	box-sizing: border-box;
	height: $button-height;
	min-width: $button-min-width;
	padding: 0;
	position: relative;
	width: auto;


	& > * {
			// @include col;
			//min-width: $button-grid * 5;
	}

	.sc-button__text {
		// @include col;
			padding: 0 $button-grid;
			min-width: $button-min-width;

			&.sc-button__text_left {
				padding-left: 0;
			}

			&.sc-button__text_right {
				padding-right: 0;
			}
	}

	&,
	&:focus {
		@include hover-animation();
		background-image: none;
		text-decoration: none;
		touch-action: manipulation;
	}

	&:hover {
		cursor: pointer !important;
		text-decoration: none;
	}

	&.button_state_disabled,
	&[disabled],
	&[disabled]:hover,
	fieldset[disabled] & {
		cursor: default;
		pointer-events: none;
	}

	& .sc-button__text {
		font-size: 14px;
		line-height: 24px;
		font-weight: 600;
	}

	& .sc-button__text_icons_left, & .sc-button__text_icons_right {
		font-size: 0;
	}

	&__icon {
		@include wrap;
		@include wrap( 'flexbox');
		@include wrap( 'center');
		@include wrap( 'middle');
		display: inline-flex;
		height: 32px;
		width: 32px;
	}
}
/* Базовый стиль (end) */
/* Модификаторы (start) */



// white-outline
$white-outline-text-color: #fff !default;
$white-outline-background: transparent !default;
$white-outline-border-color: #fff !default;
// При наведении
$white-outline-text-color-hover: #fff !default;
$white-outline-background-hover: rgba(0,0,0,0.2) !default;
$white-outline-border-color-hover: #fff !default;
// Активное состояние
$white-outline-text-color-active: #fff !default;
$white-outline-background-active: rgba(0,0,0,0.4) !default;
$white-outline-border-color-active: #fff !default;

.sc-button_white-outline {
	@include button($white-outline-text-color, $white-outline-background, $white-outline-border-color, $white-outline-text-color-hover, $white-outline-background-hover, $white-outline-border-color-hover, $white-outline-text-color-active, $white-outline-background-active, $white-outline-border-color-active);
}


.sc-button_big {
	height: $button-grid * 5;

	.sc-button__text {
		font-size: 16px;
		padding: 0 $button-grid * 2;
	}

	.sc-button__icon {
		height: $button-grid * 5;
		width: $button-grid * 5;
	}
}

.sc-button_large {
	height: $button-grid * 6;

	.sc-button__text {
		font-size: 20px;
		padding: 0 $button-grid * 3;
	}
	.sc-button__icon {
		height: $button-grid * 6;
		width: $button-grid * 6;
	}
}
/* Модификаторы (end) */

.sc-button_basic {
	@include sc-button( $gray-f, $btn-basic--default, $btn-basic--default, $gray-f, $btn-basic--hover-darken, $btn-basic--hover-darken, $gray-f, $btn-basic--active-darken, $btn-basic--active-darken, $gray-f, $btn-basic--default, $btn-basic--default);
}

.sc-button_activity {
	@include sc-button( $gray-f, $btn-activity--default, $btn-activity--default, $gray-f, $btn-activity--hover-darken, $btn-activity--hover-darken, $gray-f, $btn-activity--active-darken, $btn-activity--active-darken, $gray-f, $btn-activity--default, $btn-activity--default);
}

.sc-button_warning {
	@include sc-button( $gray-f, $btn-warning--default, $btn-warning--default, $gray-f, $btn-warning--hover-darken, $btn-warning--hover-darken, $gray-f, $btn-warning--active-darken, $btn-warning--active-darken, $gray-f, $btn-warning--default, $btn-warning--default);
}

.sc-button_danger {
	@include sc-button( $gray-f, $btn-danger--default, $btn-danger--default, $gray-f, $btn-danger--hover-darken, $btn-danger--hover-darken, $gray-f, $btn-danger--active-darken, $btn-danger--active-darken, $gray-f, $btn-danger--default, $btn-danger--default);
}

.sc-button_gray {
	@include sc-button( $gray-f, $btn-gray--default, $btn-gray--default, $gray-f, $btn-gray--hover-darken, $btn-gray--hover-darken, $gray-f, $btn-gray--active-darken, $btn-gray--active-darken, $gray-f, $btn-gray--default, $btn-gray--default);
}

.sc-button_white {
	@include sc-button( $btn-basic--default, $btn-white--default, $btn-white--default, $gray-f, $btn-white--hover-darken, $btn-white--default, $gray-f, $btn-white--active-darken, $btn-white--default, $btn-basic--default, $btn-white--default, $btn-white--default);
}

// contour
.sc-button_contour_basic {
	@include sc-button( $btn-basic--default, $gray-f, $btn-basic--default, $btn-basic--hover-darken, $btn-basic--hover-lighten, $btn-basic--hover-darken, $btn-basic--active-darken, $btn-basic--active-lighten, $btn-basic--active-darken, rgba($btn-basic--default, .5), transparent, rgba($btn-basic--default, .5));
}

.sc-button_contour_activity {
	@include sc-button( $btn-activity--default, $gray-f, $btn-activity--default, $btn-activity--hover-darken, $btn-activity--hover-lighten, $btn-activity--hover-darken, $btn-activity--active-darken, $btn-activity--active-lighten, $btn-activity--active-darken, rgba($btn-activity--default, .5), transparent, rgba($btn-activity--default, .5));
}

.sc-button_contour_warning {
	@include sc-button( $btn-warning--default, $gray-f, $btn-warning--default, $btn-warning--hover-darken, $btn-warning--hover-lighten, $btn-warning--hover-darken, $btn-warning--active-darken, $btn-warning--active-lighten, $btn-warning--active-darken, rgba($btn-warning--default, .5), transparent, rgba($btn-warning--default, .5));
}

.sc-button_contour_danger {
	@include sc-button( $btn-danger--default, $gray-f, $btn-danger--default, $btn-danger--hover-darken, $btn-danger--hover-lighten, $btn-danger--hover-darken, $btn-danger--active-darken, $btn-danger--active-lighten, $btn-danger--active-darken, rgba($btn-danger--default, .5), transparent, rgba($btn-danger--default, .5));
}

.sc-button_contour_gray {
	@include sc-button( $btn-gray--default, $gray-f, $btn-gray--default, $btn-gray--hover-darken, $btn-gray--hover-lighten, $btn-gray--hover-darken, $btn-gray--active-darken, $btn-gray--active-lighten, $btn-gray--active-darken, rgba($btn-gray--default, .5), transparent, rgba($btn-gray--default, .5));
}

.sc-button_contour_white {
	@include sc-button( $btn-white--default, transparent, $btn-white--default, $btn-white--default, $btn-white--hover-darken, $btn-white--default, $btn-white--default, $btn-white--active-darken, $btn-white--default, rgba($btn-white--default, .5), transparent, rgba($btn-white--default, .5));
}

.sc-button_contour_pager {
	@include sc-button( $btn-gray--default, $gray-f2, $btn-gray--default, $btn-gray--hover-darken, $btn-gray--hover-lighten, $btn-gray--hover-darken, $btn-gray--active-darken, $btn-gray--active-lighten, $btn-gray--active-darken, rgba($btn-gray--default, .5), transparent, rgba($btn-gray--default, .5));
}

// кнопка подстраивается под ширину родительского контейнера
.sc-button_width_max {
	&,
	&:focus {
		width: 100%;
	}
}