<div class="wrap">
  <div class="wrap__col-1-4">
    default
  </div>
  <div class="wrap__col-1-4">
    <sc-checkbox
      [model]="true"
      [disabled]="false"
      [label]="testLabel"
      [name]="testName"
      [indeterminate]="true"
      (change)="onChangeTest()"
    ></sc-checkbox>
  </div>
  <div class="wrap__col-1-4">
    <sc-checkbox
      [model]=""
      [disabled]="false"
      [label]="testLabel"
      [name]="testName"
      [indeterminate]="true"
      (change)="onChangeTest()"
    ></sc-checkbox>
  </div>
  <div class="wrap__col-1-4">
    <sc-checkbox
      [model]="true"
      [disabled]="true"
      [label]="testLabel"
      [name]="testName"
      [indeterminate]="true"
    ></sc-checkbox>
  </div>
</div>
<div>
<sc-checkbox
      [model]="true"
     
      [label]="testLabel"
      [name]="testName"
      [indeterminate]="true"
    ></sc-checkbox>
</div>
  

<div class="wrap">
  <div class="wrap__col-1-4">
    warning
  </div>
  <div class="wrap__col-1-4">
    <sc-checkbox
      [model]="isChecked"
      [disabled]="false"
      [label]="testLabel"
      [name]="testName"
      [indeterminate]="true"
      [mod]="warning"
    ></sc-checkbox>
  </div>
  <div class="wrap__col-1-4">
    <sc-checkbox
      [model]=""
      [disabled]="false"
      [label]="testLabel"
      [name]="testName"
      [mod]="warning"
      [indeterminate]="true"
    ></sc-checkbox>
  </div>
  <div class="wrap__col-1-4">
    <sc-checkbox
      [model]="isChecked"
      [disabled]="true"
      [label]="testLabel"
      [name]="testName"
      [indeterminate]="true"
      [mod]="warning"
    ></sc-checkbox>
  </div>
</div>

<div class="wrap">
  <div class="wrap__col-1-4">
    attention
  </div>
  <div class="wrap__col-1-4">
    <sc-checkbox
      [model]="isChecked"
      [disabled]="false"
      [label]="testLabel"
      [name]="testName"
      [mod]="attention"
    ></sc-checkbox>
  </div>
  <div class="wrap__col-1-4">
    <sc-checkbox
      [model]=""
      [disabled]="false"
      [label]="testLabel"
      [name]="testName"
      [indeterminate]="true"
      [mod]="attention"
      (change)="onChangeTest()"
    ></sc-checkbox>
  </div>
  <div class="wrap__col-1-4">
      <sc-checkbox
      [model]="isChecked"
      [disabled]="true"
      [label]="testLabel"
      [name]="testName"
      [mod]="attention"
    ></sc-checkbox>
  </div>
</div>
