<label
  class="radio"
  [ngClass]="{
    'radio_disabled': disabled,
    'radio_warning': mod === Mod.warning,
    'radio_attention': mod === Mod.attention
  }">
  <input
    type="radio"
    [checked]="value === model"
    [disabled]="disabled"
    (change)="changeModel($event)"
    [value]="value"
    [name]="name"
    (scChange)="onScChange()"
  />
  <span
    class="check"
    [ngClass]="{
      'check_checked': value === model,
      'check_attention': mod === Mod.attention,
      'check_warning': mod ===  Mod.warning
    }">
    </span>
  <div
    *ngIf="label"
    class="radio__label"
    [ngClass]="{
      'radio__label_warning': mod ===  Mod.warning,
      'radio__label_attention': mod === Mod.attention
    }">
    {{label}}
  </div>
</label>
