<p>
  demo-button works!
</p>
<p>
  <span cock-button>
    Кнопка
  </span>
</p>

<p>
  <span cock-button>
      <i cock-icon left-icons name="delete"></i>
       Кнопка
      <i cock-icon right-icons name="indicator"></i>
  </span>
</p>

<p>
  <span cock-button mod="contour">
    <i cock-icon left-icons name="delete"></i>
    Кнопка
    <i cock-icon right-icons name="indicator"></i>
</span>
</p>

<p>
  <span cock-button mod="warning">
    <i cock-icon left-icons name="delete"></i>
    Кнопка
    <i cock-icon right-icons name="indicator"></i>
</span>
</p>
