<sc-radio
  [disabled]="false"
  [label]="testLabel"
  [value]="testV1"
  [name]="name1"
  [model]="model"
  (scChange)="onChangeTest()"
></sc-radio>
<sc-radio
  [disabled]="false"
  [label]="testLabel"
  [value]="testV2"
  [mod]="1"
  [name]="name1"
  [model]="model"
></sc-radio>
<sc-radio
  [disabled]="false"
  [label]="testLabel"
  [value]="testV3"
  [mod]="2"
  [name]="name1"
  [model]="model"
></sc-radio>


<sc-radio
  [disabled]="false"
  [label]="testLabel"
  [value]="testV1"
  [name]="name2"
  [model]="model"
></sc-radio>
<sc-radio
  [disabled]="false"
  [label]="testLabel"
  [value]="testV2"
  [mod]="2"
  [name]="name2"
  [model]="model"
></sc-radio>
<sc-radio
  [disabled]="false"
  [label]="testLabel"
  [value]="testV3"
  [mod]="1"
  [name]="name2"
  [model]="model"
></sc-radio>
