.btn {
  &.mine-shaft {
    background: #333333;
  }

  &.shakespeare {
    background: #3399CC;
  }

  &.elm {
    background: #269999;
  }

  &.neon-carrot {
    background: #FF9830;
  }

  &.sunglo {
    background: #E65C5C;
  }
}
