<sc-pagination [total]="totalTest1" [disabled]="false" (scClick)="customClick()" [startPage]="5" [pageSize]="pageSizeTest1"></sc-pagination>
<div>--</div>
<sc-pagination [total]="totalTest2" [disabled]="false" [pageSize]="perPageTest2"></sc-pagination>
<div>--</div>
<sc-pagination [total]="totalTest3" [disabled]="true"></sc-pagination>
<div>--</div>
<sc-pagination [total]="totalTest4" [disabled]="false" (scClick)="customClick()" [startPage]="1000"></sc-pagination>
<div>--</div>
<sc-pagination [total]="totalTest5" [disabled]="false"></sc-pagination>
