// миксина цветов состояний кнопки
// (default, hover, active, disable)
@import "../environments/variables";
@import "../environments/flexiblegs-scss";

@mixin hover-animation {
	transition: background 0.3s ease 0s, border 0.3s ease 0s;
}

$button-height: 40px; // Высота кнопки
$button-min-width: 40px; // Минимальная ширина кнопки
$button-grid: 8px;

// Дефолтное состояние
$default-text-color: #fff !default;
$default-background: #269999 !default;
$default-border-color: #269999 !default;
// При наведении
$default-text-color-hover: #fff !default;
$default-background-hover: #2DB3B3 !default;
$default-border-color-hover: #2DB3B3 !default;
// Активное состояние
$default-text-color-active: #fff !default;
$default-background-active: #196666 !default;
$default-border-color-active: #196666 !default;



@mixin button( $text-color, $background, $border-color, $text-color-hover, $background-hover, $border-color-hover, $text-color-active, $background-active, $border-color-active) {
	&,
	&:focus {
		background-color: $background;
		border-color: $border-color;
		color: $text-color;
	}

	&:hover {
		background-color: $background-hover;
		border-color: $border-color-hover;
		color: $text-color-hover;
	}

	&.button_state_active,
	&:active {
		background-color: $background-active;
		border-color: $border-color-active;
		color: $text-color-active;
	}

	&.button_state_disabled,
	&[disabled],
	fieldset[disabled] & {
		background-color: rgba($background, .5);
		border-color: rgba($border-color, .5);
		color: rgba($text-color, .5);
	}
}
/* Базовый стиль (start) */
button {
	@include button($default-text-color, $default-background, $default-border-color, $default-text-color-hover, $default-background-hover, $default-border-color-hover, $default-text-color-active, $default-background-active, $default-border-color-active);
	@include wrap;
	@include wrap( 'table');
	@include wrap( 'middle');
	@include wrap( 'center');
	border-style: solid;
	box-sizing: border-box;
	height: $button-height;
	min-width: $button-min-width;
	padding: 0;
	position: relative;
	width: auto;

	& > * {
			@include col;
			min-width: $button-grid * 4;
	}

	.text {
		@include col;
			padding: 0 $button-grid;
			min-width: $button-min-width;
	}

	&,
	&:focus {
		@include hover-animation();
		background-image: none;
		text-decoration: none;
		touch-action: manipulation;
	}

	&:hover {
		cursor: pointer !important;
		text-decoration: none;
	}

	&.button_state_disabled,
	&[disabled],
	&[disabled]:hover,
	fieldset[disabled] & {
		cursor: default;
		pointer-events: none;
	}

	& .text {
		font-size: 14px;
		line-height: 22px;
		font-weight: 600;
	}
}
/* Базовый стиль (end) */
/* Модификаторы (start) */

// Контурная кнопка
$contour-text-color: #269999 !default;
$contour-background: #fff !default;
$contour-border-color: #269999 !default;
// При наведении
$contour-text-color-hover: #2DB3B3 !default;
$contour-background-hover: #fff;
$contour-border-color-hover: #2DB3B3 !default;
// Активное состояние
$contour-text-color-active: #196666 !default;
$contour-background-active: #fff !default;
$contour-border-color-active: #196666 !default;

.contour {
	@include button($contour-text-color, $contour-background, $contour-border-color, $contour-text-color-hover, $contour-background-hover, $contour-border-color-hover, $contour-text-color-active, $contour-background-active, $contour-border-color-active);
}

// Предупреждающая кнопка
$warning-text-color: #E65C5C !default;
$warning-background: #fff !default;
$warning-border-color: #E65C5C !default;
// При наведении
$warning-text-color-hover: #FF6666 !default;
$warning-background-hover: #fff !default;
$warning-border-color-hover: #FF6666 !default;
// Активное состояние
$warning-text-color-active: #BF4D4D !default;
$warning-background-active: #fff !default;
$warning-border-color-active: #BF4D4D !default;

.warning {
	@include button($warning-text-color, $warning-background, $warning-border-color, $warning-text-color-hover, $warning-background-hover, $warning-border-color-hover, $warning-text-color-active, $warning-background-active, $warning-border-color-active);
}
/* Модификаторы (end) */
