<h2>
  demo-button works!
</h2>

<!-- Default -->
<div class="wrap wrap-table wrap-gutter-16">
  <div class="wrap__col wrap-col-1-8">
    default
  </div>
  <div class="wrap__col wrap-col-1-8">
    <button sc-button (click)="clickMe($event)">
      Кнопка
    </button>
  </div>
  <div class="wrap__col wrap-col-1-8">
    <button sc-button [disabled]="true" (click)="clickMe($event)">
      Кнопка
    </button>
  </div>
  <div class="wrap__col wrap-col-1-8">
    <button sc-button (click)="clickMe($event)">
      <sc-svg-icon before
            src="svg/delete.svg"></sc-svg-icon>
      Кнопка
    </button>
  </div>
  <div class="wrap__col wrap-col-1-8">
    <button sc-button (click)="clickMe($event)">
      Кнопка
      <sc-svg-icon after
          src="svg/top.svg"></sc-svg-icon>
    </button>
  </div>

  <div class="wrap__col wrap-col-1-8">
    <button sc-button (click)="clickMe($event)">
      Кнопка
      <sc-svg-icon before
          src="svg/top.svg"></sc-svg-icon>
      <sc-svg-icon after
          src="svg/doctor-bag-solid.svg"></sc-svg-icon>
    </button>
  </div>

  <div class="wrap__col wrap-col-1-8">
    <button sc-button style="width: 100%">
      <sc-svg-icon after
            src="svg/delete.svg"></sc-svg-icon>
          Кнопка
      <sc-svg-icon before
            src="svg/top.svg"></sc-svg-icon>
    </button>
  </div>

  <div class="wrap__col wrap-col-1-8">

  </div>
</div>

<!-- Outline -->
<div class="wrap wrap-table wrap-gutter-16">
  <div class="wrap__col wrap-col-1-8">
    outline
  </div>
  <div class="wrap__col wrap-col-1-8">
    <button sc-button mod="outline" (click)="clickMe($event)">
      Кнопка
    </button>
  </div>
  <div class="wrap__col wrap-col-1-8">
    <button sc-button mod="outline" [disabled]="true" (click)="clickMe($event)">
      Кнопка
    </button>
  </div>
  <div class="wrap__col wrap-col-1-8">
    <button sc-button mod="outline" (click)="clickMe($event)">
      <sc-svg-icon before
            src="svg/delete.svg"></sc-svg-icon>
      Кнопка
    </button>
  </div>
  <div class="wrap__col wrap-col-1-8">
    <button sc-button mod="outline" (click)="clickMe($event)">
      Кнопка
      <sc-svg-icon after
          src="svg/top.svg"></sc-svg-icon>
    </button>
  </div>

  <div class="wrap__col wrap-col-1-8">
    <button sc-button mod="outline" (click)="clickMe($event)">
      Кнопка
      <sc-svg-icon before
          src="svg/top.svg"></sc-svg-icon>
      <sc-svg-icon after
          src="svg/doctor-bag-solid.svg"></sc-svg-icon>
    </button>
  </div>

  <div class="wrap__col wrap-col-1-8">
    <button sc-button mod="outline" style="width: 100%">
      <sc-svg-icon after
            src="svg/delete.svg"></sc-svg-icon>
          Кнопка
      <sc-svg-icon before
            src="svg/top.svg"></sc-svg-icon>
    </button>
  </div>

  <div class="wrap__col wrap-col-1-8">

  </div>
</div>

<!-- Primary -->
<div class="wrap wrap-table wrap-gutter-16">
  <div class="wrap__col wrap-col-1-8">
    primary
  </div>
  <div class="wrap__col wrap-col-1-8">
    <button sc-button mod="primary" (click)="clickMe($event)">
      Кнопка
    </button>
  </div>
  <div class="wrap__col wrap-col-1-8">
    <button sc-button mod="primary" [disabled]="true" (click)="clickMe($event)">
      Кнопка
    </button>
  </div>
  <div class="wrap__col wrap-col-1-8">
    <button sc-button mod="primary" (click)="clickMe($event)">
      <sc-svg-icon before
            src="svg/delete.svg"></sc-svg-icon>
      Кнопка
    </button>
  </div>
  <div class="wrap__col wrap-col-1-8">
    <button sc-button mod="primary" (click)="clickMe($event)">
      Кнопка
      <sc-svg-icon after
          src="svg/top.svg"></sc-svg-icon>
    </button>
  </div>

  <div class="wrap__col wrap-col-1-8">
    <button sc-button mod="primary" (click)="clickMe($event)">
      Кнопка
      <sc-svg-icon before
          src="svg/top.svg"></sc-svg-icon>
      <sc-svg-icon after
          src="svg/doctor-bag-solid.svg"></sc-svg-icon>
    </button>
  </div>

  <div class="wrap__col wrap-col-1-8">
    <button sc-button mod="primary" style="width: 100%">
      <sc-svg-icon after
            src="svg/delete.svg"></sc-svg-icon>
          Кнопка
      <sc-svg-icon before
            src="svg/top.svg"></sc-svg-icon>
    </button>
  </div>

  <div class="wrap__col wrap-col-1-8">

  </div>
</div>

<!-- Pimary-outline -->
<div class="wrap wrap-table wrap-gutter-16">
  <div class="wrap__col wrap-col-1-8">
    primary-outline
  </div>
  <div class="wrap__col wrap-col-1-8">
    <button sc-button mod="primary-outline" (click)="clickMe($event)">
      Кнопка
    </button>
  </div>
  <div class="wrap__col wrap-col-1-8">
    <button sc-button mod="primary-outline" [disabled]="true" (click)="clickMe($event)">
      Кнопка
    </button>
  </div>
  <div class="wrap__col wrap-col-1-8">
    <button sc-button mod="primary-outline" (click)="clickMe($event)">
      <sc-svg-icon before
            src="svg/delete.svg"></sc-svg-icon>
      Кнопка
    </button>
  </div>
  <div class="wrap__col wrap-col-1-8">
    <button sc-button mod="primary-outline" (click)="clickMe($event)">
      Кнопка
      <sc-svg-icon after
          src="svg/top.svg"></sc-svg-icon>
    </button>
  </div>

  <div class="wrap__col wrap-col-1-8">
    <button sc-button mod="primary-outline" (click)="clickMe($event)">
      Кнопка
      <sc-svg-icon before
          src="svg/top.svg"></sc-svg-icon>
      <sc-svg-icon after
          src="svg/doctor-bag-solid.svg"></sc-svg-icon>
    </button>
  </div>

  <div class="wrap__col wrap-col-1-8">
    <button sc-button mod="primary-outline" style="width: 100%">
      <sc-svg-icon after
            src="svg/delete.svg"></sc-svg-icon>
          Кнопка
      <sc-svg-icon before
            src="svg/top.svg"></sc-svg-icon>
    </button>
  </div>

  <div class="wrap__col wrap-col-1-8">

  </div>
</div>

<!-- Warning -->
<div class="wrap wrap-table wrap-gutter-16">
  <div class="wrap__col wrap-col-1-8">
    warning
  </div>
  <div class="wrap__col wrap-col-1-8">
    <button sc-button mod="warning" (click)="clickMe($event)">
      Кнопка
    </button>
  </div>
  <div class="wrap__col wrap-col-1-8">
    <button sc-button mod="warning" [disabled]="true" (click)="clickMe($event)">
      Кнопка
    </button>
  </div>
  <div class="wrap__col wrap-col-1-8">
    <button sc-button mod="warning" (click)="clickMe($event)">
      <sc-svg-icon before
            src="svg/delete.svg"></sc-svg-icon>
      Кнопка
    </button>
  </div>
  <div class="wrap__col wrap-col-1-8">
    <button sc-button mod="warning" (click)="clickMe($event)">
      Кнопка
      <sc-svg-icon after
          src="svg/top.svg"></sc-svg-icon>
    </button>
  </div>

  <div class="wrap__col wrap-col-1-8">
    <button sc-button mod="warning" (click)="clickMe($event)">
      Кнопка
      <sc-svg-icon before
          src="svg/top.svg"></sc-svg-icon>
      <sc-svg-icon after
          src="svg/doctor-bag-solid.svg"></sc-svg-icon>
    </button>
  </div>

  <div class="wrap__col wrap-col-1-8">
    <button sc-button mod="warning" style="width: 100%">
      <sc-svg-icon after
            src="svg/delete.svg"></sc-svg-icon>
          Кнопка
      <sc-svg-icon before
            src="svg/top.svg"></sc-svg-icon>
    </button>
  </div>

  <div class="wrap__col wrap-col-1-8">

  </div>
</div>

<!-- Warning-outline -->
<div class="wrap wrap-table wrap-gutter-16">
  <div class="wrap__col wrap-col-1-8">
    warning-outline
  </div>
  <div class="wrap__col wrap-col-1-8">
    <button sc-button mod="warning-outline" (click)="clickMe($event)">
      Кнопка
    </button>
  </div>
  <div class="wrap__col wrap-col-1-8">
    <button sc-button mod="warning-outline" [disabled]="true" (click)="clickMe($event)">
      Кнопка
    </button>
  </div>
  <div class="wrap__col wrap-col-1-8">
    <button sc-button mod="warning-outline" (click)="clickMe($event)">
      <sc-svg-icon before
            src="svg/delete.svg"></sc-svg-icon>
      Кнопка
    </button>
  </div>
  <div class="wrap__col wrap-col-1-8">
    <button sc-button mod="warning-outline" (click)="clickMe($event)">
      Кнопка
      <sc-svg-icon after
          src="svg/top.svg"></sc-svg-icon>
    </button>
  </div>

  <div class="wrap__col wrap-col-1-8">
    <button sc-button mod="warning-outline" (click)="clickMe($event)">
      Кнопка
      <sc-svg-icon before
          src="svg/top.svg"></sc-svg-icon>
      <sc-svg-icon after
          src="svg/doctor-bag-solid.svg"></sc-svg-icon>
    </button>
  </div>

  <div class="wrap__col wrap-col-1-8">
    <button sc-button mod="warning-outline" style="width: 100%">
      <sc-svg-icon after
            src="svg/delete.svg"></sc-svg-icon>
          Кнопка
      <sc-svg-icon before
            src="svg/top.svg"></sc-svg-icon>
    </button>
  </div>

  <div class="wrap__col wrap-col-1-8">

  </div>
</div>

<!-- danger -->
<div class="wrap wrap-table wrap-gutter-16">
  <div class="wrap__col wrap-col-1-8">
    danger
  </div>
  <div class="wrap__col wrap-col-1-8">
    <button sc-button mod="danger" (click)="clickMe($event)">
      Кнопка
    </button>
  </div>
  <div class="wrap__col wrap-col-1-8">
    <button sc-button mod="danger" [disabled]="true" (click)="clickMe($event)">
      Кнопка
    </button>
  </div>
  <div class="wrap__col wrap-col-1-8">
    <button sc-button mod="danger" (click)="clickMe($event)">
      <sc-svg-icon before
            src="svg/delete.svg"></sc-svg-icon>
      Кнопка
    </button>
  </div>
  <div class="wrap__col wrap-col-1-8">
    <button sc-button mod="danger" (click)="clickMe($event)">
      Кнопка
      <sc-svg-icon after
          src="svg/top.svg"></sc-svg-icon>
    </button>
  </div>

  <div class="wrap__col wrap-col-1-8">
    <button sc-button mod="danger" (click)="clickMe($event)">
      Кнопка
      <sc-svg-icon before
          src="svg/top.svg"></sc-svg-icon>
      <sc-svg-icon after
          src="svg/doctor-bag-solid.svg"></sc-svg-icon>
    </button>
  </div>

  <div class="wrap__col wrap-col-1-8">
    <button sc-button mod="danger" style="width: 100%">
      <sc-svg-icon after
            src="svg/delete.svg"></sc-svg-icon>
          Кнопка
      <sc-svg-icon before
            src="svg/top.svg"></sc-svg-icon>
    </button>
  </div>

  <div class="wrap__col wrap-col-1-8">

  </div>
</div>

<!-- danger-outline -->
<div class="wrap wrap-table wrap-gutter-16">
  <div class="wrap__col wrap-col-1-8">
    danger
  </div>
  <div class="wrap__col wrap-col-1-8">
    <button sc-button mod="danger-outline" (click)="clickMe($event)">
      Кнопка
    </button>
  </div>
  <div class="wrap__col wrap-col-1-8">
    <button sc-button mod="danger-outline" [disabled]="true" (click)="clickMe($event)">
      Кнопка
    </button>
  </div>
  <div class="wrap__col wrap-col-1-8">
    <button sc-button mod="danger-outline" (click)="clickMe($event)">
      <sc-svg-icon before
            src="svg/delete.svg"></sc-svg-icon>
      Кнопка
    </button>
  </div>
  <div class="wrap__col wrap-col-1-8">
    <button sc-button mod="danger-outline" (click)="clickMe($event)">
      Кнопка
      <sc-svg-icon after
          src="svg/top.svg"></sc-svg-icon>
    </button>
  </div>

  <div class="wrap__col wrap-col-1-8">
    <button sc-button mod="danger-outline" (click)="clickMe($event)">
      Кнопка
      <sc-svg-icon before
          src="svg/top.svg"></sc-svg-icon>
      <sc-svg-icon after
          src="svg/doctor-bag-solid.svg"></sc-svg-icon>
    </button>
  </div>

  <div class="wrap__col wrap-col-1-8">
    <button sc-button mod="danger-outline" style="width: 100%">
      <sc-svg-icon after
            src="svg/delete.svg"></sc-svg-icon>
          Кнопка
      <sc-svg-icon before
            src="svg/top.svg"></sc-svg-icon>
    </button>
  </div>

  <div class="wrap__col wrap-col-1-8">

  </div>
</div>

<!-- Gray -->
<div class="wrap wrap-table wrap-gutter-16">
  <div class="wrap__col wrap-col-1-8">
    gray
  </div>
  <div class="wrap__col wrap-col-1-8">
    <button sc-button mod="gray" (click)="clickMe($event)">
      Кнопка
    </button>
  </div>
  <div class="wrap__col wrap-col-1-8">
    <button sc-button mod="gray" [disabled]="true" (click)="clickMe($event)">
      Кнопка
    </button>
  </div>
  <div class="wrap__col wrap-col-1-8">
    <button sc-button mod="gray" (click)="clickMe($event)">
      <sc-svg-icon before
            src="svg/delete.svg"></sc-svg-icon>
      Кнопка
    </button>
  </div>
  <div class="wrap__col wrap-col-1-8">
    <button sc-button mod="gray" (click)="clickMe($event)">
      Кнопка
      <sc-svg-icon after
          src="svg/top.svg"></sc-svg-icon>
    </button>
  </div>

  <div class="wrap__col wrap-col-1-8">
    <button sc-button mod="gray" (click)="clickMe($event)">
      Кнопка
      <sc-svg-icon before
          src="svg/top.svg"></sc-svg-icon>
      <sc-svg-icon after
          src="svg/doctor-bag-solid.svg"></sc-svg-icon>
    </button>
  </div>

  <div class="wrap__col wrap-col-1-8">
    <button sc-button mod="gray" style="width: 100%">
      <sc-svg-icon after
            src="svg/delete.svg"></sc-svg-icon>
          Кнопка
      <sc-svg-icon before
            src="svg/top.svg"></sc-svg-icon>
    </button>
  </div>

  <div class="wrap__col wrap-col-1-8">

  </div>
</div>
<!-- Gray-outline -->
<div class="wrap wrap-table wrap-gutter-16">
  <div class="wrap__col wrap-col-1-8">
    gray-outline
  </div>
  <div class="wrap__col wrap-col-1-8">
    <button sc-button mod="gray-outline" (click)="clickMe($event)">
      Кнопка
    </button>
  </div>
  <div class="wrap__col wrap-col-1-8">
    <button sc-button mod="gray-outline" [disabled]="true" (click)="clickMe($event)">
      Кнопка
    </button>
  </div>
  <div class="wrap__col wrap-col-1-8">
    <button sc-button mod="gray-outline" (click)="clickMe($event)">
      <sc-svg-icon before
            src="svg/delete.svg"></sc-svg-icon>
      Кнопка
    </button>
  </div>
  <div class="wrap__col wrap-col-1-8">
    <button sc-button mod="gray-outline" (click)="clickMe($event)">
      Кнопка
      <sc-svg-icon after
          src="svg/top.svg"></sc-svg-icon>
    </button>
  </div>

  <div class="wrap__col wrap-col-1-8">
    <button sc-button mod="gray-outline" (click)="clickMe($event)">
      Кнопка
      <sc-svg-icon before
          src="svg/top.svg"></sc-svg-icon>
      <sc-svg-icon after
          src="svg/doctor-bag-solid.svg"></sc-svg-icon>
    </button>
  </div>

  <div class="wrap__col wrap-col-1-8">
    <button sc-button mod="gray-outline" style="width: 100%">
      <sc-svg-icon after
            src="svg/delete.svg"></sc-svg-icon>
          Кнопка
      <sc-svg-icon before
            src="svg/top.svg"></sc-svg-icon>
    </button>
  </div>

  <div class="wrap__col wrap-col-1-8">

  </div>
</div>
