<fieldset class="sc-text-field" [ngClass]="modificators" [disabled]="disabled">
    <label class="sc-text-field__inner" [ngClass]="{'focus': focusElement}">
        <span #leftView *ngIf="isLeft"
            class="sc-text-field__icon">
            <ng-content select="[before]"></ng-content>
        </span>

        <ng-container *ngIf="!hasCustomInput">
            <input  #myInput class="sc-text-field__input" [(ngModel)]="value" placeholder="{{placeholder}}" (blur)="onBlur($event)" (focus)="onFocus($event)" type="text" />
        </ng-container>
        
        <ng-container *ngIf="hasCustomInput">            
            <ng-content></ng-content>
        </ng-container>

        <span class="sc-text-field__clear" (click)="clearClick()" *ngIf="value" [hidden]="disabled">
            <sc-svg-icon src="sc/svg/delete_circle.svg"></sc-svg-icon>
        </span>

        <span #rightView *ngIf="isRight"
            class="sc-text-field__icon">
            <ng-content select="[after]"></ng-content>
        </span>
    </label>
</fieldset>
