<fieldset class="sc-text-field" [ngClass]="modificators" [disabled]="disabled">
    <label class="sc-text-field__inner" [ngClass]="{'focus': focusElement}">
      <div #leftView
           class="sc-text-field__icon"
           *ngIf="isLeft">
        <ng-content select="[before]"></ng-content>
      </div>
      <input #myInput class="sc-text-field__input" [(ngModel)]="value" placeholder="{{placeholder}}" (blur)="onBlur($event)" (focus)="onFocus($event)" type="text"/>
      <div class="sc-text-field__clear">
        <button (click)="clearClick()" *ngIf="value" [hidden]="disabled">

          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0" y="0" viewBox="0 0 1024 1024" xml:space="preserve" enable-background="new 0 0 1024 1024">
            <path d="M512 0C229.2 0 0 229.2 0 512s229.2 512 512 512 512-229.2 512-512S794.8 0 512 0zM783.5 693L693 783.5l-181-181 -181 181L240.5 693l181-181 -181-181 90.5-90.5 181 181 181-181 90.5 90.5 -181 181L783.5 693z"/>
          </svg>

        </button>
      </div>
      <div #rightView
         class="sc-text-field__icon"
         *ngIf="isRight">
        <ng-content select="[after]"></ng-content>
      </div>
  </label>
</fieldset>
