@import "../environments/mixins.scss";
@import "../environments/flexiblegs-scss";

$base-gutter: 8px;


/* basic palette */

$gray-f: #ffffff;
$gray-c: #cccccc;
$gray-7: #777777;

// Default
$default-text-color: #333;
$default-icon-color: #777;
$default-border-color: #777;
$default-placeholder-color: #777;

$default-text-color-hover: #333;
$default-icon-color-hover: #777;
$default-border-color-hover: #474747;
$default-placeholder-color-hover: #777;

$default-text-color-focus: #333;
$default-icon-color-focus: #777;
$default-border-color-focus: #39c;
$default-placeholder-color-focus: transparent;

// Warning
$warning-text-color: #333;
$warning-icon-color: #777;
$warning-border-color: #E65C5C;
$warning-placeholder-color: #777;

$warning-text-color-hover: #333;
$warning-icon-color-hover: #777;
$warning-border-color-hover: #474747;
$warning-placeholder-color-hover: #777;

$warning-text-color-focus: #333;
$warning-icon-color-focus: #777;
$warning-border-color-focus: #39c;
$warning-placeholder-color-focus: transparent;

// Attention
$attention-text-color: #333;
$attention-icon-color: #777;
$attention-border-color: #FF9830;
$attention-placeholder-color: #777;

$attention-text-color-hover: #333;
$attention-icon-color-hover: #777;
$attention-border-color-hover: #474747;
$attention-placeholder-color-hover: #777;

$attention-text-color-focus: #333;
$attention-icon-color-focus: #777;
$attention-border-color-focus: #39c;
$attention-placeholder-color-focus: transparent;

// Disabled
$bg-color-disabled: #ddd;
$text-color-disabled: #ccc;
$icon-color-disabled: #ccc;
$border-color-disabled: #ccc;
$placeholder-color-disabled: #ccc;

/* elements */

$field--default: #777 !default;
$field--hover: mix(black, $field--default, 40%);
$field--focus: #39c !default;

$icon-close--default: #777 !default;
$icon-close--hover: #B84949;
$icon-close--focus: #8A3737;

$placeholder-color-focus: $default-placeholder-color;

// Defaults
*:focus { outline: none; }

// Миксин цветов состояний текстового поля
// (default, hover, focus, disable)
@mixin sc-text-field(
    $text-color, $icon-color, $border-color, $placeholder-color,
    $text-color-hover, $icon-color-hover, $border-color-hover, $placeholder-color-hover,
    $text-color-focus, $icon-color-focus, $border-color-focus, $placeholder-color-focus
) {

    &, &.focus, &.open  {
        box-shadow: inset 0 0 0 1px rgba($border-color, 1);
        border-color: $border-color;

        .input,
        input {
            color: $text-color;
            &::-webkit-input-placeholder {
                color: $placeholder-color;
            }
            &::-moz-placeholder {
                color: $placeholder-color;
            }
        }

        .icon,
        .sc-text-field__icon {
            color: $icon-color;
        }

        .sc-text-field__clear {
            cursor: pointer !important;
            color: $icon-close--default;

            &:hover {
                color: $icon-close--hover;
            }
            &:active {
                color: $icon-close--focus;
            }
        }
    }

    &:hover {
        box-shadow: inset 0 0 0 1px rgba($border-color-hover, 1);

        .input {
            color: $text-color-hover;
            &::-webkit-input-placeholder {
                color: $placeholder-color-hover !important;
            }
            &::-moz-placeholder {
                color: $placeholder-color-hover !important;
            }
        }
        .icon,
        .sc-text-field__icon {
            color: $icon-color-hover;
        }
    }

    &.focus, &.open {
        box-shadow: inset 0 0 0 1px rgba($border-color-focus, 1);

        .input {
            color: $text-color-focus;
            &::-webkit-input-placeholder {
                color: $placeholder-color-focus;
            }
            &::-moz-placeholder {
                color: $placeholder-color-focus;
            }
        }

        .icon,
        .sc-text-field__icon {
            color: $icon-color-focus;
        }

        .icon-search,
        .sc-text-field__icon-search {
            border-left-color: rgba($border-color-focus, 1);
        }
    }

    & > input:only-child {
        padding: $base-gutter;
    }

    & > input:first-child {
        padding-left: $base-gutter;
    }

    & > input:last-child {
        padding-right: $base-gutter;
    }
}

/* Базовый стиль (start) */
.sc-text-field {
    .sc-text-field__inner {
        @include wrap;
        @include wrap("table");
        @include wrap("middle");
        @include wrap("left");
        @include sc-text-field(
                        $default-text-color, $default-icon-color, $default-border-color, $default-placeholder-color, //$text-color, $icon-color, $border-color, $placeholder-color
                        $default-text-color-hover, $default-icon-color-hover, $default-border-color-hover, $default-placeholder-color-hover, //$text-color-hover, $icon-color-hover, $border-color-hover, $placeholder-color-focus,
                        $default-text-color-focus, $default-icon-color-focus, $default-border-color-focus, $placeholder-color-focus // $text-color-focus, $icon-color-focus, $border-color-focus,
        );
        background-color: $gray-f;
        box-sizing: border-box;
        font-size: 15px;
        margin: 0;
        padding: 0 1px;
        width: 100%;

        & > * {
            @include col;
        }

        input, .sc-text-field__input {
            @include dots;
            box-sizing: border-box;
            background: none;
            border: none;
            box-shadow: none;
            font-size: 15px;
            font-weight: normal;
            height: $base-gutter * 5;
            padding: 0;
            width: 100%;
            &:only-child { padding: 0 $base-gutter * 2; }
            &:first-child { padding-left: $base-gutter * 2 !important; }
            &:last-child { padding-right: $base-gutter * 2 !important; }

            &::-webkit-input-placeholder {
                color: $field--default;
                font-weight: normal;
            }
            &::-moz-placeholder {
                color: $field--default;
                font-weight: normal;
            }
            &:focus{
                &::-webkit-input-placeholder { color: $placeholder-color-focus; }
                &::-moz-placeholder { color: $placeholder-color-focus; }
            }
        }

        & > .sc-text-field__icon,
        & > .sc-text-field__clear {
            color: $field--default;
            font-size: 0;
            text-align: center;
            width: $base-gutter * 5;
        }

    }

    &.disabled ,
    &[disabled]  {
        .sc-text-field__inner,
        .sc-text-field__inner:hover {
            box-shadow: inset 0 0 0 1px rgba($border-color-disabled, 1);
            background-color: $bg-color-disabled;
            .sc-text-field__input,
            input {
                color: $text-color-disabled;
                &::-webkit-input-placeholder {
                    color: $placeholder-color-disabled !important;
                }
                &::-moz-placeholder {
                    color: $placeholder-color-disabled !important;
                }
            }
            .icon,
            .sc-text-field__icon {
                color: $icon-color-disabled;
            }
            .sc-text-field__clear {
                display: none;
            }
        }
    }
}

/* Базовый стиль (end) */


/* Модификаторы (start) */

.sc-text-field_type_warning {
    .sc-text-field__inner {
        //$text-color, $icon-color, $border-color, $placeholder-color
        @include sc-text-field(
                        $warning-text-color, $warning-icon-color, $warning-border-color, $warning-placeholder-color, //$text-color, $icon-color, $border-color, $placeholder-color
                        $warning-text-color-hover, $warning-icon-color-hover, $warning-border-color-hover, $warning-placeholder-color-hover, //$text-color-hover, $icon-color-hover, $border-color-hover, $placeholder-color-focus,
                        $warning-text-color-focus, $warning-icon-color-focus, $warning-border-color-focus, $warning-placeholder-color-focus // $text-color-focus, $icon-color-focus, $border-color-focus,
        );
    }
}

.sc-text-field_type_attention {
    .sc-text-field__inner {
        @include sc-text-field(
                        $attention-text-color, $attention-icon-color, $attention-border-color, $attention-placeholder-color, //$text-color, $icon-color, $border-color, $placeholder-color
                        $attention-text-color-hover, $attention-icon-color-hover, $attention-border-color-hover, $attention-placeholder-color-hover, //$text-color-hover, $icon-color-hover, $border-color-hover, $placeholder-color-focus,
                        $attention-text-color-focus, $attention-icon-color-focus, $attention-border-color-focus, $attention-placeholder-color-focus // $text-color-focus, $icon-color-focus, $border-color-focus,
        );
    }
}