<p>
  component-list works!
</p>
<nav>
  <li>
    <a routerLink="/button">Button</a>
  </li>
  <li>
    <a routerLink="/datepicker">Datepicker</a>
  </li>
  <li>
    <a routerLink="/icon">Icon</a>
  </li>
  <li>
    <a routerLink="/checkbox">Checkbox</a>
  </li>
  <li>
    <a routerLink="/radio">Radio</a>
  </li>
  <li>
    <a routerLink="/text-field">Text-field</a>
  </li>
  <li>
    <a routerLink="/pagination">Pagination</a>
  </li>
  <li>
    <a routerLink="/panel">Panel</a>
  </li>
  <li>
    <a routerLink="/typeahead">Typeahead</a>
  </li>
  <li>
    <a routerLink="/popover">Popover</a>
  </li>
  <li>
    <a routerLink="/tooltip">tooltip</a>
  </li>
  <li>
    <a routerLink="/panel-tag">Panel-tag</a>
  </li>
  <li>
    <a routerLink="/combobox">Combobox</a>
  </li>
  <li>
    <a routerLink="/modal">Modal</a>
  </li>
  
</nav>
