// default
$default-text-color: #ffffff !default;
$default-background: #204040 !default;
$default-border-color: #777777 !default;

$default-inner-background: #ffffff !default;
.sc-modal {

}

.sc-modal-main {
  background-color: $default-background;
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 4px;
  &__inner {
    background-color: $default-inner-background;
  }
}

.sc-modal-header {
  color: $default-text-color;
  background-color: $default-background;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 16px;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
}

.sc-modal-footer {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 15px;
  border-top: 1px solid #eceeef;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  outline: 0;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.fade.show {
  opacity: 1;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear;
}

.modal-content {
  position: relative;
  display: flex;
  -webkit-box-orient: vertical;
  flex-direction: column;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  outline: 0;
}

.modal-backdrop.show {
  opacity: .5;
}
.sc-modal-close {
  background: transparent;
  border: none;
  color: $default-text-color;
  fill: $default-text-color;
}

