<div class="sc-modal">
  <div class="sc-modal-header">
    <div class="modal-title">
      <span>{{title}}</span>
    </div>
    <div class="sc-modal-close">
      <button class="sc-modal-close" (click)="activeModal.dismiss($event)">
        <sc-svg-icon before
                     src="sc/svg/close.svg"></sc-svg-icon>
      </button>
    </div>
  </div>
  <div class="sc-modal-main">
    <div class="sc-modal-main__inner">
      <template sc-modal-add></template>
    </div>
  </div>
</div>
